﻿@* Schools dashboard
	RMI Version avoids having Districts ( in this case atolls)
		horizontally in tables, becuase there is too many of them to display neatly
*@
@section options {
	<core-options-editor options="vm.options"></core-options-editor>
}

@section children {

	<bar-chart heading-title="Schools' Enrollment by {{'District'|vocab}}"
						 dimensions="height2 width3"
						 heading-filters="vm.filterString('District')"
						 toggle-selected="::vm.boundToggleSelected"
						 selected-child="vm.selectedChild"
						 dim="vm.dimDistrictCode"
						 selected-key="vm.options.selectedDistrict"
						 on-click="vm.toggle('selectedDistrict')"
						 value-accessor="vm.va" />

	<pie-chart heading-title="Schools' Enrollment by Authority"
						 dimensions="height2 width3"
						 heading-filters="vm.filterString('Authority')"
						 toggle-selected="::vm.boundToggleSelected"
						 selected-child="vm.selectedChild"
						 dim="vm.dimAuthorityCode"
						 selected-key="vm.options.selectedAuthority"
						 on-click="vm.toggle('selectedAuthority')"
						 value-accessor="vm.va" />

	<pie-chart heading-title="Schools' Enrollment {{'Authority Govt'|vocab}}"
						 dimensions="height2 width3"
						 heading-filters="vm.filterString('AuthorityGovt')"
						 toggle-selected="::vm.boundToggleSelected"
						 selected-child="vm.selectedChild"
						 dim="vm.dimAuthorityGovt"
						 selected-key="vm.options.selectedAuthorityGovt"
						 on-click="vm.toggle('selectedAuthorityGovt')"
						 value-accessor="vm.va" />

	<simple-table heading-title="Schools' Enrollment by {{'District'|vocab}}"
								dimensions="height4 width3"
								heading-filters="vm.filterString('District')"
								toggle-selected="::vm.boundToggleSelected"
								selected-child="vm.selectedChild"
								group="vm.grpDistrictCode()"
								selected-key="vm.options.selectedDistrict"
								on-click="vm.toggle('selectedDistrict')"
								row-labels-lookup="districts" />

	<simple-table heading-title="School's Enrollment by Authority"
								dimensions="height4 width3"
								heading-filters="vm.filterString('Authority')"
								toggle-selected="::vm.boundToggleSelected"
								selected-child="vm.selectedChild"
								group="vm.grpAuthorityCode()"
								selected-key="vm.options.selectedAuthority"
								on-click="vm.toggle('selectedAuthority')"
								row-labels-lookup="authorities" />

	<simple-table heading-title="School's Enrollment by {{'Authority Govt'|vocab}}"
								dimensions="height4 width3"
								heading-filters="vm.filterString('AuthorityGovt')"
								toggle-selected="::vm.boundToggleSelected"
								selected-child="vm.selectedChild"
								group="vm.grpAuthorityGovt()"
								selected-key="vm.options.selectedAuthorityGovt"
								on-click="vm.toggle('selectedAuthorityGovt')"
								row-labels-lookup="" />

	<cross-tab heading-title="Schools' Enrollment by Age, Education Level and Gender"
						 heading-filters="vm.filterString('Age', 'Level')"
						 dimensions="height6 width8"
						 report-path="Schools/Current_Number_of_Schools_by_Authority"
						 toggle-selected="vm.boundToggleSelected"
						 selected-child="vm.selectedChild"
						 first-dim-name="Age"
						 grid-data="vm.tabAge_EdLevel()"
						 col-labels-lookup="educationLevels"
						 row-labels="vm.labelerAgeGroup"
						 @*has-row-totals="false"*@
						 @*has-column-totals="false"*@
						 detail-grid-data="vm.tabAge_Level()"
						 detail-col-labels-lookup="levels"
						 heading-options="{Total: ['Total', 'Male', 'Female'], None: ['Total'], Perc: ['Total', 'Female %', 'Male %'], GPI: ['All', 'Female', 'Male', 'GPI']}"
						 indicator-calculators="vm.indicatorCalculations" />

	@* School Type x District *@

	@* rows = school type, col = district*@

	@* This format not used in RMI
		<cross-tab heading-title="School's Enrollment by {{'School Type'|vocab}}, {{'District'|vocab}} and Gender"
						 heading-filters="vm.filterString('SchoolType', 'District')"
						 dimensions="height6 width8"
						 toggle-selected="vm.boundToggleSelected"
						 selected-child="vm.selectedChild"
						 first-dim-name="{{'School Type'|vocab}}"
						 grid-data="vm.tabSchoolTypeByDistrict()"
						 col-labels-lookup="districts"
						 heading-options="{Total: ['Total', 'Male', 'Female'], None: ['Total'], Perc: ['Total', 'Female %', 'Male %'], GPI: ['All', 'Female', 'Male', 'GPI']}"
						 indicator-calculators="vm.indicatorCalculations" />
	*@

	@* rows = district col=schooltype*@

	<cross-tab heading-title="School's Enrollment by {{'District'|vocab}}, {{'School Type'|vocab}} and Gender"
						 heading-filters="vm.filterString('SchoolType', 'District')"
						 dimensions="height10 width8"
						 toggle-selected="vm.boundToggleSelected"
						 selected-child="vm.selectedChild"
						 first-dim-name="{{'District'|vocab}} "
						 grid-data="vm.tabDistrictBySchoolType()"
						 col-labels-lookup="schoolTypes"
						 heading-options="{Total: ['Total', 'Male', 'Female'], None: ['Total'], Perc: ['Total', 'Female %', 'Male %'], GPI: ['All', 'Female', 'Male', 'GPI']}"
						 indicator-calculators="vm.indicatorCalculations" />

	@* Ed Level x District *@

	@* rows = districts, column = ed level*@

	<cross-tab heading-title="School's Enrollment by {{'District'|vocab}}, Education Level and Gender"
						 heading-filters="vm.filterString('District', 'Level')"
						 dimensions="height10 width8"
						 toggle-selected="vm.boundToggleSelected"
						 selected-child="vm.selectedChild"
						 selected-key="vm.options.selectedDistrict"
						 first-dim-name="{{'District'|vocab}}"
						 grid-data="vm.tabDistrict_EdLevel()"
						 col-labels-lookup="educationLevels"
						 row-labels="districts"
						 detail-col-labels-lookup="levels"
						 heading-options="{Total: ['Total', 'Male', 'Female'], None: ['Total'], Perc: ['Total', 'Female %', 'Male %'], GPI: ['All', 'Female', 'Male', 'GPI']}"
						 indicator-calculators="vm.indicatorCalculations" />
	@* rows = ed level column = District*@


	@* This format not used in RMI
		<cross-tab heading-title="School's Enrollment by Education Level, {{'District'|vocab}} and Gender"
							 heading-filters="vm.filterString('District', 'Level')"
							 dimensions="height8 width8"
							 toggle-selected="vm.boundToggleSelected"
							 selected-child="vm.selectedChild"
							 selected-key="vm.options.selectedDistrict"
							 first-dim-name="Ed Level"
							 grid-data="vm.tabEdLevel_District()"
							 col-labels-lookup="districts"
							 detail-col-labels-lookup="levels"
							 heading-options="{Total: ['Total', 'Male', 'Female'], None: ['Total'], Perc: ['Total', 'Female %', 'Male %'], GPI: ['All', 'Female', 'Male', 'GPI']}"
							 indicator-calculators="vm.indicatorCalculations" />
	*@

}
