﻿@{Layout = "master.cshtml"; }

<tr>
  <td>
    <h2>Sorry you have lost your password</h2>
  </td>
</tr>
<tr>
  <td class="mui--divider-top">
    Hello,
  </td>
</tr>
<tr>
  <td>
    <table class="mui-btn mui-btn--primary"
           border="0"
           cellspacing="0"
           cellpadding="0">
      <tr>
        <td>
          <a href="@Model.callbackUrl">Reset Password</a>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td>
    If you are unable to use button above it may be your Email client does not handle links. Try enabling HTML content, a different email client or contact us for help.
  </td>
</tr>
@*<tr>
    <td><a href="@Model.callbackUrl">@Model.callbackUrl</a></td>
  </tr>*@
<tr>
  <td>Note that this link is valid for 72 hours. If you do not reset your password in that time, click on 'Forgot Password' in the login screen, to generate a fresh link.</td>
</tr>