﻿@{Layout = "master.cshtml"; }

@* This email is sent to the addresseee after that account has been created
  Security permissions have already been estabished, including the permission hash, any roles, and filters.
*@

<tr>
  <td>
    <h2>Welcome!</h2>
  </td>
</tr>
<tr>
  <td class="mui--divider-top">
    Hello,
  </td>
</tr>
<tr>
  <td>
    You have been invited to participate in the Pacific EMIS, the growing open source Education Management Information System.
  </td>
</tr>
<tr>
  <td>
    <table class="mui-btn mui-btn--primary"
           border="0"
           cellspacing="0"
           cellpadding="0">
      <tr>
        <td>
          <a href="@Model.callbackUrl">Complete Registration</a>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td>
    If you are unable to use button above it may be your Email client does not handle links. Try enabling HTML content, a different email client or contact us for help.
  </td>
</tr>
@*<tr>
    <td><a href="@Model.callbackUrl">@Model.callbackUrl</a></td>
  </tr>*@