﻿<div>
    <!-- expects controller as : vm -->
    <form class="form-inline" style="padding-top: 4px">
        <div class="form-group">
            <label class="form-label" for="rowSelector">Group on:</label>
            <select class="form-control input-sm"  id="rowSelector" 
                    ng-options="r.C as r.C for r in vm.tableOptions"
                    ng-model="vm.row"></select>
        </div>
 


        <!--
                <a  tooltip-placement="right" tooltip="show chart" ng-click="chtc.theFilter.FlashFind()" class="nav navbar-nav pull-right toolbar dropdown"  style="padding-top:4px; height:32px;width: 40px">

                    <i class="fa fa-search"></i></a>

                <div class="form-group pull-right">

                    <input type="text" class="form-control input-sm" runat="server" id="Text1" ng-model="chtc.theFilter.FlashString" ng-enter="chtc.theFilter.FlashFind()">

                </div>
        -->

    </form>
</div>