﻿<panel panel-class=""
       panel-icon="bar_chart"
       heading="Charts Data Analysis"
       panel-control-collapse="true">

  <panel-controls>
    <md-button class="md-icon-button" ng-click="vm.showFilter = !vm.showFilter">
      <md-icon class="material-icons md-24">search</md-icon>
      <md-tooltip md-direction="bottom">Show/Hide Search/Filter Data</md-tooltip>
    </md-button>
  </panel-controls>

  <div ng-show="vm.showFilter">
    @*<flash-find-search-component entity="listvm.theFilter"></flash-find-search-component>
      <school-searcher-component searchfields="listvm.theFilter"></school-searcher-component>
      <manipulate-chart-component searchfields="listvm.theFilter"></manipulate-chart-component>*@

    @*Deactivate broken flashfindsearch for now (was broken before I moved it here)
      <div id="flashfindsearch" ui-view="flashfindsearch"></div>*@
    <div id="searcher" ui-view="searcher"></div>
    <div id="manipulatechart" ui-view="manipulatechart"></div>
  </div>

  <div ng-show="vm.ready">

    <div ng-show="vm.chartType != 'map'">

      <row-col-chart dataset="vm.data"
                     charttype="{{vm.chartType}}" flip="{{vm.flipped}}" info="vm.info" height="100%" width="100%"></row-col-chart>
    </div>

    @*
      the topodata
    *@
    <div ng-show="vm.chartType === 'map'">
      <div worldmap fit-content height="100%" width="100%" extent="vm.mapExtent"
           world="vm.topodata"
           values="vm.mapdata" valueAccessor="vm.mapValueAccessor"
           palette="vm.palette"
           map-color-scale="vm.mapColorScale"
           q-as="css"
           feature-set="{{vm.featureset}}"
           id-accessor="vm.idAccessor">

      </div>
      <div color-range-designer
           height="200" width="300"
           dataset="vm.mapdata"
           palette="vm.palette" map-color-scale="vm.mapColorScale"
           key-field="id" y-field="value">
      </div>
    </div>
    <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular ng-show="vm.isWaiting" md-mode="indeterminate"></md-progress-circular>
    </div>

  </div>
</panel>