﻿<panel panel-class=""
       panel-icon="list"
       heading="Tables Data Analysis"
       panel-control-collapse="true">

  <panel-controls>
    <md-button class="md-icon-button" ng-click="vm.showFilter = !vm.showFilter">
      <md-icon class="material-icons md-24">search</md-icon>
      <md-tooltip md-direction="bottom">Show/Hide Search/Filter Data</md-tooltip>
    </md-button>
  </panel-controls>

  <div ng-show="vm.showFilter">
    @*<flash-find-search-component entity="listvm.theFilter"></flash-find-search-component>
      <school-searcher-component searchfields="listvm.theFilter"></school-searcher-component>
      <manipulate-chart-component searchfields="listvm.theFilter"></manipulate-chart-component>*@

    @*Deactivate broken flashfindsearch for now (was broken before I moved it here)
      <div id="flashfindsearch" ui-view="flashfindsearch"></div>*@
    <div id="searcher" ui-view="searcher"></div>
    <div id="manipulatetable" ui-view="manipulatetable"></div>
  </div>

  <md-content>
    <table class="md-table striped">
      <thead>
        <tr>
          <th />
          <th />
          <th colspan="{{vm.xtabcolumns.length}}">{{vm.tableparams.col | vocab}}</th>
        </tr>
        <tr>
          <th>{{vm.tableparams.row | vocab}}</th>
          <th>Total</th>
          <th ng-repeat="col in vm.xtabcolumns">{{col.key}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in vm.xtabtotal">
          <td>{{row.key}}</td>
          <td>{{vm.v(row.values.Total)}}</td>
          <td ng-repeat="col in vm.xtabcolumns">{{vm.v(row.values[col.key])}}</td>
        </tr>
        <tr ng-repeat="row in vm.xtabdata">
          <td>{{row.key}}</td>
          <td>{{vm.v(row.values.Total)}}</td>
          <td ng-repeat="col in vm.xtabcolumns">{{vm.v(row.values[col.key])}}</td>
        </tr>
      </tbody>
    </table>
  </md-content>

  <div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular ng-show="vm.isWaiting" md-mode="indeterminate"></md-progress-circular>
  </div>

</panel>