﻿@* a leaf has a state *@
<a md-ink-ripple ng-if="item.state" ng-click="vm.select(item);" ui-sref="{{item.state}}">
  <div layout="row">
    <md-icon class="material-icons md-light md-18" ng-if="item.iconClasses">{{item.iconClasses}}</md-icon>
    <span>{{item.label}}</span>
    <span flex></span>
  </div>
</a>

@* a branch - parent of other states*@
<a md-ink-ripple ng-if="!(item.state)" ng-click="vm.select(item);">
  <div layout="row">
    <md-icon class="material-icons md-light md-18" ng-if="item.iconClasses">{{item.iconClasses}}</md-icon>
    <span>{{item.label}}</span>
    <span flex></span>
  </div>
  @*<span ng-bind-html="item.html"></span> *@
</a>


<ul ng-if="item.children.length" data-slide-out-nav="item.open">
  <li ng-repeat="item in item.children" class="nav-item md-ink-ripple"
      ng-class="{ hasChild: (item.children!==undefined && item.children.length!=0),
                          active: item.selected,
                            open: (item.children!==undefined && item.children.length!=0) && item.open }"
      @* recurse, item is passed in *@
      ng-include="'generic/navigator'">
  </li>
</ul>

