<div layout="column" layout-margin>
  <div flex="100">
    <section class="pineapple-container md-whiteframe-z1">

      <md-toolbar class="pineapple-toolbar md-primary {{vm.panelClass}}" ng-class="{roundedBottom: vm.collapsed}">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
            <md-icon ng-if="vm.panelIcon" class="material-icons md-24">{{vm.panelIcon}}</md-icon>
          </md-button>
          <h2 flex md-truncate>{{(vm.panelIcon? " ":"")}}{{vm.heading}}</h2>
          <div class="options" ng-transclude="panelControls"></div>
          <md-button class="md-icon-button" ng-if="vm.panelClose" ui-sref="^" aria-label="Close">
            <md-icon class="material-icons md-24">close</md-icon>
            <md-tooltip md-direction="bottom">Close</md-tooltip>
          </md-button>
          <md-button class="md-icon-button" ng-if="vm.panelControlCollapse" ng-click="vm.toggleCollapse()">
            <md-icon class="material-icons md-24">{{ vm.collapsed ? 'expand_less':'expand_more' }}</md-icon>
            <md-tooltip md-direction="bottom">{{ vm.collapsed ? 'Expand content':'Collapse content' }}</md-tooltip>
          </md-button>
        </div>
      </md-toolbar>

      <div class="panel-body" ng-transclude ng-hide="vm.collapsed"></div>

    </section>
    </div>
  </div>
