﻿/* Keep the "old" grid styling mostly gender grids. But simplified and theme neutral */

table.gendergrid {
  table-layout: fixed;
}

  table.gendergrid td {
    border: 1px solid #D0D0D0;
    padding-left: 6px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

    table.gendergrid td.current {
      background: #eee;
      color: #333;
    }

  table.gendergrid th {
    text-align: center;
    padding: 2px 2px 2px 2px;
  }

  table.gendergrid .colhdr {
    color: #333;
    text-align: center;
  }

  table.gendergrid th.colhdr {
    border: solid 1px #d4d4d4;
  }
  
  table.gendergrid .colhdr.current, table.gendergrid .colghdr.current {
    background-color: #eee;
    color: #333;
  }
  
  table.gendergrid th.colghdr {
    border-left: solid 1px #d4d4d4;
    border-right: solid 1px #d4d4d4;
  }

  table.gendergrid .rowhdr {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    padding-left: 7px;
  }

    table.gendergrid .rowhdr.current {
      background-color: #eee;
      color: #333;
    }

  table.gendergrid td.current {
    background-color: #eee;
  }

  table.gendergrid .colm {
    border-left: solid 2px #ccc;
  }

  table.gendergrid input {
    width: 20px;
    border: none;
    padding-right: 2px;
    margin: 2px;
    background-color: white;
    text-align: right;
  }

    table.gendergrid input.hover {
      width: 40px;
      border: none;
      padding: 3px;
      background-color: lightyellow;
      text-align: right;
    }

  table.gendergrid .totg {
    text-align: right;
    font-weight: bold;
    background-color: #eee;
  }

  table.gendergrid .tot {
    text-align: right;
    font-weight: bold;
    background-color: none;
    padding-right: 3px;
    padding-left: 3px;
  }

  table.gendergrid input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.gendergrid input:disabled, .gendergrid select:disabled, .gendergrid input[type=checkbox]:disabled {
  background-color: lightsteelblue !important;
}