﻿/*

  this group of styles implement material design recommendations as decribed in
  https://google.github.io/material-design-icons/

  These are not overrides or tweaks to angular material style - rather, the 
  intention is that these will be implemented by the project itself.

  So this group should remain in the project even when all 'material-fixes'
  are eliminated
*/

/* Move everything to Material's Roboto and cleanup once Bootstrap gone */
body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif !important; 
}

/* Material custom menu stuff */
md-menu-content {
  left: auto;
  right: 0;
  margin-top: 2px;
  border: none;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.98);
}

.dropdown-menu.pull-left {
  left: 0;
  right: auto;
}

md-menu-item a {
  color: #656b79;
  padding: 5px 15px;
}

.dropdown-menu.arrow:before {
  position: absolute;
  top: -8px;
  right: 11px;
  display: inline-block;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  content: '';
}

.nav-header {
  background-color: #106CC8;
  background: linear-gradient(#185694, #106cc8);
  border-bottom: 1px solid #1D77D5;
  flex-shrink: 0;
  z-index: 2;
}

md-toolbar.md-site-toolbar-theme:not(.md-menu-toolbar) {
  background-color: rgb(245,245,245);
  color: rgba(0,0,0,0.87);
}

md-icon.material-icons.md-site-toolbar-theme {
  color: rgba(0,0,0,0.87);
}

.site-content-toolbar {
  z-index: 3;
}

.md-whiteframe-glow-z1 {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.14), 0 0 2px 2px rgba(0, 0, 0, 0.098), 0 0 5px 1px rgba(0, 0, 0, 0.084);
}

.pineapples-logo {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0 16px;
  margin: 0 auto;
}

/* End of Material custom menu stuff */

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

  .material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
  }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

  .material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
  }

/* Customizing the material section (with md-toolbar at top) */
.pineapple-container {
  border-radius: 4px;
  margin-bottom: 16px;
  transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  position: relative;
  padding-bottom: 0;
}

md-toolbar.pineapple-toolbar {
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px rgba(255, 255, 255, 0.1);
  color: white;
}

/* Beginning of pineapples material specific styles */
#pineapples-license-footer {
  align-self: flex-end;
  padding: 16px 32px;
  width: 100%;
  text-align: center;
  font-size: small;
  border-top: 1px solid #ddd;
}

.login-card {
  padding-top: 80px;
  padding-bottom: 80px;
}
/* End of pineapples material specific styles */

/* Beginning of styles to make div tables with material look. Necessary for now because of 
  https://stackoverflow.com/questions/36576270/angular-table-row-component-in-table-component
*/
div.md-table-div {
  border: none;
  display: table;
  width: 100%;
}

report-def-row.odd .tr.layout-row {
  background-color: rgba(242, 242, 242, 0.5);
}

div.md-table-div div.thead div.tr {
  border-bottom: #cccccc;
  border-bottom-style: solid;
  border-bottom-width: thin;
  font-weight: bold;
}

div.tr {
  border: none;
  /*display: table-row;*/
}

div.td, div.th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}
/* End of styles to make div tables with material look. */

/* end of required styles */


/*
  The remaining styles are short term fixes for issues caused by conflicts between bootstrap 
  and material.
  This should be discarded when bootstrap is phased out. 
*/


/* Angular material quick and dirty customizations 
   these have been migrated here from custom.css
*/

/* the style material-icons is installed when we get the material-icons font online, using 
  this link in start.cshtml

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  This style defines font-size: 24px and does NOT set the color
  color: white
  probably creates more problems than it solves - should be replaced by 'md-light' class
*/
/* see configMdTheme.ts default background is now white */

/* this style would default to hue 1 of primary palette
   The override here is to correspond with other colors used in bootstrap
   This has been removed in favour of extend the primary palette to use this color
   see configMdTheme.ts
*/
/*
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: #348bc6;
}
*/

/* selects were misalinged only when inside a lookup-selector 
  so it is more precise to change this in the lookup-selector template
*/

/* buttons */
/* This color #4697ce is almost identical to the theme primary hue 1 #348bc6
  so all these md-button tweaks can be safely removed
*/

/* doesn't make sense to have a heading inside the md-toolbar-tools ? */
.md-toolbar-tools h1, .md-toolbar-tools h2, .md-toolbar-tools h3 {
  color: #ffffff;
}

panel-controls .md-btn {
  margin: 3px 0px;
  color: #fff !important;
}

/* Quick and dirty CSS to materialise some bits not materialised by Angular Material V1 (e.g. tables) */

table.md-table, th, td {
  border: none;
}

table.md-table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
}

  table.md-table thead {
    font-weight: bold;
  }

    table.md-table thead tr {
      border-bottom: #cccccc;
      border-bottom-style: solid;
      border-bottom-width: thin;
    }

table.striped tr {
  border-bottom: none;
}

table.striped > tbody > tr:nth-child(odd) {
  background-color: rgba(242, 242, 242, 0.5);
}

table.striped > tbody > tr > td {
  border-radius: 0;
}

table.highlight > tbody > tr {
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
}

  table.highlight > tbody > tr:hover {
    background-color: rgba(242, 242, 242, 0.5);
  }

table.centered thead tr th, table.centered tbody tr td {
  text-align: center;
}

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

td, th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

/* end of migration from custom.css */

/* bootstrap makes label bold - kill this in materialized forms */
md-input-container label {
  font-weight: normal
}

/* make a distinction between a placeholder and a disabled value in an input
  by making the value darker ( ie more opaque)
  *** for further investigation - can we achieve this without explicitly setting
  the colors ?? ***
*/
md-input-container .md-input[disabled] {
  color: rgba(0,0,0,0.87);
  background-color: #e3edf7;
  border-bottom-style: none
}

md-select[disabled] .md-select-value {
  color: rgba(0,0,0,0.87);
  background-color: #e3edf7;
  border-bottom-style: none
}

/* 
   adpoting semantic ui principles
   (e.g. https://webaim.org/techniques/semanticstructure/)
   we should not style headings but should apply another class to all headings to get the visual result
   using heading tyles to define structure and acessbility
   angularjs material provides classes for this purpose, see
   https://material.angularjs.org/latest/CSS/typography
 */
h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* a simple animation for blocks that are conditionally displayed 
   causes the element to roll-down on show, roll-up on hide
 */
/* a default duration for animations*/
.conditional.ng-animate {
  transition: all ease-in .20s;
}

/* start point of show*/
.conditional.ng-enter,
.conditional.ng-hide-remove {
  margin-top: -80px;
  opacity: 0
}
  /* end point of show */
  .conditional.ng-enter.ng-enter-active,
  .conditional.ng-hide-remove.ng-hide-remove-active {
    margin-top: 0px;
    opacity: 1
  }

/* start point of hide*/
.conditional.ng-leave,
.conditional.ng-hide-add {
  margin-top: 0px;
  opacity: 1
}

  /* end point of hide*/
  .conditional.ng-leave.ng-leave-active,
  .conditional.ng-hide-add.ng-hide-add-active {
    margin-top: -80px;
    opacity: 0
  }
