﻿@section icon {
  person
}

@section title {
  {{vm.isNew? 'New Teacher': 'Teacher: ' + vm.model.tFullName }}
}

<div class="appform">

  <md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>

    @*<md-tab label="Dashboard" ng-disable="vm.isNew">

        <md-content flex layout-padding>
          <p>
            Some web analytics to provide you with an "at a glance" of the teacher's performance.
            This is under current development and will be coming up live in the months to come.
          </p>
        </md-content>

        <md-content layout-xs="column" layout="row">

          <div flex-xs flex-gt-xs="25">
            <md-card md-theme-watch>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Latest Survey Available</span>
                  <span class="md-subhead">Survey submission up-to-date</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <md-toolbar md-colors="{background: 'green-100'}">
                  <div class="md-toolbar-tools" layout-align="center center" layout="column">
                    {{vm.model.LatestSurvey.svyYear}}
                  </div>
                </md-toolbar>
              </md-card-content>
            </md-card>
          </div>

        </md-content>

      </md-tab>*@

    <md-tab label="Teacher Info">

      <div layout="column" class="md-inline-form">

        <md-content flex layout-padding>
          <p>Manage the teacher profile information here.</p>
        </md-content>

        <md-content layout-padding>
          <div>
            <form name="vm.modelForm" ng-submit="vm.save()">
              @*novalidate class="form-custom-validation"*@

              <div layout-gt-xs="row">
                <h3 class="md-subhead">General Information</h3>
              </div>

              <div layout-gt-sm="row">
                @* display image of teacher with upload field tImage *@
                <md-input-container class="md-block" flex-gt-sm>
                  <label>First Name</label>
                  <input type="text" ng-model="vm.model.tGiven" ng-disabled="!vm.isEditing" required />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Middle Names</label>
                  <input type="text" ng-model="vm.model.tMiddleNames" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Last Name</label>
                  <input type="text" ng-model="vm.model.tSurname" ng-disabled="!vm.isEditing" required />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>{{"EmployNo" | vocab }}</label>
                  <input type="text" ng-model="vm.model.tPayroll" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Gender</label>
                  <lookup-selector lkp="gender" ng-model="vm.model.tSex" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>{{"Status" | vocab }}</label>
                  <lookup-selector lkp="teacherRegStatus" ng-model="vm.model.tRegisterStatus" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Date of Birth</label>
                  <md-datepicker ng-model="vm.model.tDOB" ng-disabled="!vm.isEditing"></md-datepicker>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Comment</label>
                  <input type="text" ng-model="vm.model.tComment" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>

              <div layout-gt-xs="row">
                <h3>Public Service Hiring</h3>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>{{"Date PS Appointed" | vocab }}</label>
                  <md-datepicker ng-model="vm.model.tDatePSAppointed" ng-disabled="!vm.isEditing"></md-datepicker>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>{{"Date PS Closed" | vocab }}</label>
                  <md-datepicker ng-model="vm.model.tDatePSClosed" ng-disabled="!vm.isEditing"></md-datepicker>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>{{"Close Reason" | vocab }}</label>
                  <input type="text" ng-model="vm.model.tCloseReason" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>

            </form>

            <md-card md-colors="::{backgroundColor: 'default-primary-200'}">
              <md-card-content>
                <md-icon class="material-icons">info</md-icon>
                <span>Last saved: {{vm.model.pEditUser}} {{vm.model.pEditDateTime | date:"dd MMM yyyy h:mm a"}}</span>
              </md-card-content>
            </md-card>

          </div>
        </md-content>
      </div>
    </md-tab>

    <md-tab label="Appointments" ng-disabled="vm.isNew">

      <md-content flex layout-padding>
        <p>
          An <span class="md-hue2">appointment</span> records an administrative decision to post a teacher to a school to fill a specific role
          ('class teacher', 'principal' etc). You can view and record appointments here. This is a more advanced usage of teacher appointment planning
          not currently in use.
        </p>
      </md-content>

      <component-teacher-appointment-list appointments="vm.model.Appointments"></component-teacher-appointment-list>
    </md-tab>

    @* there is no need to edit surveys once loaded, so they can be disabled if the list is empty
      note that other pages are disabled only on isNew
    *@
    <md-tab label="Surveys (Workbook)" ng-disabled="!vm.model.Surveys.length">

      <md-content flex layout-padding>
        <p>
          This Tab displays <span class="md-hue2">teacher information</span> collected in the annual survey (i.e. workbook).
          While an appointment records a <em>plan</em>, the survey records the <em>actual</em> location of the teacher, and the role they are performing.
          The survey can therefore be used to verify that appointments have been implemented.
        </p>
      </md-content>

      <component-teacher-survey-list surveys="vm.model.Surveys"></component-teacher-survey-list>
    </md-tab>

    <md-tab label="Qualifications" ng-disabled="vm.isNew">

      <md-content flex layout-padding>
        <p>
          Any number of qualifications can be recorded for a teacher. As a cross-check, the annual survey (i.e. workbook)
          records the highest qualification and certification of each teacher.
        </p>
      </md-content>

      <component-teacher-qualification-list qualifications="vm.model.Qualifications"
                                            teacher="vm.model"></component-teacher-qualification-list>
    </md-tab>

    <md-tab label="Documents" ng-disabled="vm.isNew">

      <md-content flex layout-padding>
        <p>
          You can archive any number of documents for a teacher (e.g. academic transcript, performance evaluation hard copy, teacher profile photo)
        </p>
      </md-content>

      <component-teacher-links links="vm.model.Documents" teacher="vm.model"></component-teacher-links>
    </md-tab>

    @*list of reports served from Jasper report server*@
    <md-tab label="Reports" ng-disabled="vm.isNew">

      <md-content flex layout-padding>
        <p>A list of reports you can generate for this teacher.</p>
      </md-content>

      <report-list folder="Teacher" context="{TeacherID: vm.model.tID}" set-params="vm.setReportParams(report, context,instanceInfo)"></report-list>
    </md-tab>

  </md-tabs>

  <div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular ng-show="vm.isWaiting" md-mode="indeterminate"></md-progress-circular>
  </div>

</div>
