﻿@* This is an interim hack to expose the "Add" button on entities using hard coded permissions
  TODO - replace this with a more componentized architecture ASAP *@
<!-- expects controllerAs: listvm -->
<div id="actionpane" ui-view="actionpane" />
<div id="datadiv">

  <panel panel-class=""
         panel-icon="list"
         heading="All {{listvm.theFilter.entity|capitalize:first}}s Data"
         panel-control-collapse="true">

    <panel-controls>
      @*Make use of permissions on common templates?! to show/hide the Add button of a particular feature*@
      <span permission permission-only="''">
        @* No 'ExamWriteX' permissions as adding exams is not done here *@
        <md-button class="md-icon-button" ng-click="listvm.theFilter.showFilter = !listvm.theFilter.showFilter">
          <md-icon class="material-icons md-24">search</md-icon>
          <md-tooltip md-direction="bottom">Show/Hide Search/Filter Data</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ui-sref="site.{{listvm.theFilter.entity}}s.list.new" href="">
          <md-icon class="material-icons md-24">add_box</md-icon>
          <md-tooltip md-direction="bottom">Add</md-tooltip>
        </md-button>
      </span>
    </panel-controls>

    <div ng-show="listvm.theFilter.showFilter">
      @*
        <flash-find-search-component entity="listvm.theFilter"></flash-find-search-component>
        <paged-list-params-component columns="listvm.theFilter"></paged-list-params-component>
        <school-searcher-component searchfields="listvm.theFilter"></school-searcher-component>*@

      @* Deactivate broken flashfindsearch for now (was broken before I moved it here)
        <div id="flashfindsearch" ui-view="flashfindsearch"></div>*@
      <div id="pagedlistparams" ui-view="pagedlistparams"></div>
      <div id="searcher" ui-view="searcher"></div>
      <md-divider></md-divider>
    </div>

    <div style="position:relative">
      <div id="pgGrid" ng-class="[listvm.theFilter.entity, listvm.gridClass]"
           ui-grid="listvm.gridOptions"
           ui-grid-pagination
           ui-grid-pinning
           ui-grid-auto-resize
           ui-grid-resize-columns
           fit-content>
      </div>

      <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular ng-show="vm.isWaiting" md-mode="indeterminate"></md-progress-circular>
      </div>

    </div>
  </panel>
</div>