﻿@*
  Provides a standard framework for wrapping content into an
  angular-material dialog

  classes - classes desgined to subclass 
    md-toolbar-tools
    md-dialog-content
    md-dialog-actions
  include:
    picture-dialog....
    condensed-dialog....
    edit-dialog...
*@
@using Pineapples.Models
@model PermissionSet

<md-dialog class="@RenderSection("class", false)">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-icon class="material-icons md-24">@RenderSection("icon", false)</md-icon>      
      &nbsp;
      @RenderSection("title", false)
      <span flex></span>
      @RenderSection("tools", false)

      <md-button class="md-icon-button" ng-click="vm.closeDialog()">
        <i aria-label="Close dialog" class="material-icons">&#xE5CD;</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      @RenderBody()
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    @RenderSection("actions", false)

    @if (Model != null)
    {
    <span permission permission-only="['@Model.Update']">
      <edit-ui-buttons edit-action="vm.setEditing(true)"
                       save-action="vm.save()"
                       undo-action="vm.undo()"
                       form="vm.modelForm"
                       is-waiting="vm.isWaiting"
                       is-editing="vm.isEditing"
                       show-labels="false">
      </edit-ui-buttons>
    </span>
    <span permission permission-except="['@Model.Update']">
      <md-button class="md-primary" ng-click="vm.closeDialog()">Close</md-button>
    </span>
    }
    @if (Model == null)
    {
      <edit-ui-buttons edit-action="vm.setEditing(true)"
                       save-action="vm.save()"
                       undo-action="vm.undo()"
                       form="vm.modelForm"
                       is-waiting="vm.isWaiting"
                       is-editing="vm.isEditing"
                       show-labels="false">
      </edit-ui-buttons>
    }

</md-dialog-actions>
</md-dialog>