﻿<table class="gendergrid" ng-show="pupilTable.data != undefined">
    <colgroup>
        <col />
        <col width="20" ng-repeat-start="c in pupilTable.cols" />
        <col width="20" ng-repeat-end />
        <col width="20" />
        <col width="20" />
        <col width="20" />
    </colgroup>

    <thead>
        <tr>
            <th class="colhdr">Age</th>
            <th class="colhdr" ng-class="{current: (ctrlr.selectedCol == $index)}" colspan="2" ng-repeat="c in pupilTable.cols">{{c.codeDescription}}</th>
            <th class="colhdr" colspan="3">Total</th>
        </tr>
        <tr>
            <th class="colghdr"></th>
            <th class="colghdr" ng-class="{current: (ctrlr.selectedGender == 'M' && ctrlr.selectedCol == $index)}" ng-repeat-start="c in pupilTable.cols">M</th>
            <th class="colghdr" ng-class="{current: (ctrlr.selectedGender == 'F' && ctrlr.selectedCol == $index)}" ng-repeat-end>F</th>
            <th class="colghdr">M</th>
            <th class="colghdr">F</th>
            <th class="colghdr">Total</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="r in pupilTable.rows">
            <td class="rowhdr"
                ng-class="{current: (ctrlr.selectedRow == $index)}">
                {{r.codeDescription}}
            </td>
            <td class="colm" ng-class="{current: (ctrlr.selectedCol == $index && ctrlr.selectedRow == $parent.$index && ctrlr.selectedGender == 'M')}" ng-repeat-start="c in pupilTable.cols track by $index">
                <input ng-class="{current: (ctrlr.selectedCol == $index && ctrlr.selectedRow == $parent.$index && ctrlr.selectedGender == 'M')}" type="number" onfocus="this.select();"
                       ng-disabled="ngDisabled"
                       ng-model="pupilTable.data[$parent.$index][$index].M"
                       ng-focus="ctrlr.gridFocus($parent.$index,$index,'M')"
                       ng-blur="ctrlr.gridBlur()"
                       ng-keydown="ctrlr.gridkeydown($event,$parent.$index,$index,'M')"
                       sync-focus-with="ctrlr.focusRequested($parent.$index,$index,'M')" />
            </td>
            <td ng-class="{current: (ctrlr.selectedCol == $index && ctrlr.selectedRow == $parent.$index && ctrlr.selectedGender == 'F')}" ng-repeat-end>
                <input ng-class="{current: (ctrlr.selectedCol == $index && ctrlr.selectedRow == $parent.$index && ctrlr.selectedGender == 'F')}" type="number" onfocus="this.select();"
                       ng-disabled="ngDisabled"
                       ng-model="pupilTable.data[$parent.$index][$index].F"
                       ng-focus="ctrlr.gridFocus($parent.$index,$index,'F')"
                       ng-blur="ctrlr.gridBlur()"
                       ng-keydown="ctrlr.gridkeydown($event,$parent.$index,$index,'F')"
                       sync-focus-with="ctrlr.focusRequested($parent.$index,$index,'F')" />
            </td>
            <td class="totg">{{ctrlr.rowSum(pupilTable.data,$index,'M') | z0}}</td>
            <td class="totg">{{ctrlr.rowSum(pupilTable.data,$index,'F') | z0}}</td>
            <td class="tot">{{ctrlr.rowSum(pupilTable.data,$index) | z0}}</td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td class="rowhdr"></td>
            <td class="colm totg" ng-repeat-start="c in pupilTable.cols track by $index">
                {{ctrlr.colSum(pupilTable.data,$index,'M') | z0}}
            </td>
            <td class="totg" ng-repeat-end>
                {{ctrlr.colSum(pupilTable.data,$index,'F') | z0}}
            </td>
            <!-- all gender totals-->
            <td class="totg">{{ctrlr.gridSum(pupilTable.data,'M') | z0}}</td>
            <td class="totg">{{ctrlr.gridSum(pupilTable.data,'F') | z0}}</td>
            <td></td>
        </tr>
        <tr>
            <td class="rowhdr"></td>
            <td class="tot" colspan="2" ng-repeat="c in pupilTable.cols track by $index">
                {{ctrlr.colSum(pupilTable.data,$index) | z0}}
            </td>
            <td></td>
            <td></td>
            <td class="tot">{{ctrlr.gridSum(pupilTable.data) | z0}}</td>
        </tr>
    </tfoot>

</table>