﻿@* miemis context-specific extra tabs *@

<md-tab label="Surveys (Workbook)" ng-disable="!vm.model.Surveys.length">
  <component-school-survey-list surveys="vm.model.Surveys"></component-school-survey-list>
</md-tab>

<md-tab label="Quarterly Reports" ng-disable="!vm.model.QuarterlyReports.length">
  <school-quarterly-reports quarterlyreports="vm.model.QuarterlyReports"></school-quarterly-reports>
</md-tab>
