﻿@section title {
  Enrolment by {{vm.isSelected() ? "Authority" : "Authority Govt"}}
}

@section filters {
  {{vm.dashboard.options.selectedAuthorityGovt|lookup:'authorityGovt'}} {{vm.dashboard.options.selectedYear}}
}

<div style="margin:4px"
     ng-class="{
        'height4': vm.isSelected(),
        'height2': !vm.isSelected()}">
  <dc-pie dimension="vm.isSelected() ? vm.dashboard.dimAuthorityCode : vm.dashboard.dimAuthorityGovt"
          group="vm.isSelected() ? vm.grpAuthorityCode : vm.grpAuthorityGovt"
          value-accessor="vm.totAccessor"
          aspect-ratio="2"
          after-chart-init="vm.afterChartInit(chart)"
          on-chart-click="vm.onClick(datum)"
  />
</div>


