﻿@* Teachers dashboard *@
@section options {
	<core-options-editor options="vm.options"></core-options-editor>
}

@section children {

	<pie-chart heading-title="Teachers by Authority"
						 dimensions="height3 width3"
						 heading-filters="vm.filterString('Authority')"
						 toggle-selected="::vm.boundToggleSelected"
						 selected-child="vm.selectedChild"
						 dim="vm.dimAuthorityCode"
						 selected-key="vm.options.selectedAuthority"
						 on-click="vm.toggle('selectedAuthority')"
						 heading-options="{Total: ['Total'], Certified: ['Certified'], Qualified: ['Qualified'], 'Qualified and Certified': ['CertQual'], }"
						 indicator-calculators="vm.totalAccessors" />

	<pie-chart heading-title="Teachers by {{'Authority Govt'|vocab}}"
						 dimensions="height3 width3"
						 heading-filters="vm.filterString('AuthorityGovt')"
						 toggle-selected="::vm.boundToggleSelected"
						 selected-child="vm.selectedChild"
						 dim="vm.dimAuthorityGovt"
						 selected-key="vm.options.selectedAuthorityGovt"
						 on-click="vm.toggle('selectedAuthorityGovt')"
						 heading-options="{Total: ['Total'], Certified: ['Certified'], Qualified: ['Qualified'], 'Qualified and Certified': ['CertQual'], }"
						 indicator-calculators="vm.totalAccessors" />

	<bar-chart heading-title="Teachers by {{'District'|vocab}}"
						 dimensions="height3 width3"
						 heading-filters="vm.filterString('District')"
						 toggle-selected="::vm.boundToggleSelected"
						 selected-child="vm.selectedChild"
						 dim="vm.dimDistrictCode"
						 selected-key="vm.options.selectedDistrict"
						 on-click="vm.toggle('selectedDistrict')"
						 heading-options="{Total: ['Total'], Certified: ['Certified'], Qualified: ['Qualified'], 'Qualified and Certified': ['CertQual'], }"
						 indicator-calculators="vm.totalAccessors" />

	<simple-table heading-title="Teachers by Authority"
								dimensions="height3 width3"
								heading-filters="vm.filterString('Authority')"
								toggle-selected="::vm.boundToggleSelected"
								selected-child="vm.selectedChild"
								group="vm.grpAuthorityCode()"
								selected-key="vm.options.selectedAuthority"
								on-click="vm.toggle('selectedAuthority')"
								row-labels-lookup="authorities"
								col-headings="['Authority', 'Teachers']" />

	<simple-table heading-title="Teachers by Govt/Non Govt"
								dimensions="height3 width3"
								heading-filters="vm.filterString('AuthorityGovt')"
								toggle-selected="::vm.boundToggleSelected"
								selected-child="vm.selectedChild"
								group="vm.grpAuthorityGovt()"
								selected-key="vm.options.selectedAuthorityGovt"
								on-click="vm.toggle('selectedAuthorityGovt')"
								row-labels-lookup=""
								col-headings="['Public/Private', 'Teachers']" />

	<simple-table heading-title="Teachers by {{'District'|vocab}}"
								dimensions="height3 width3"
								heading-filters="vm.filterString('District')"
								toggle-selected="::vm.boundToggleSelected"
								selected-child="vm.selectedChild"
								group="vm.grpDistrictCode()"
								selected-key="vm.options.selectedDistrict"
								on-click="vm.toggle('selectedDistrict')"
								row-labels-lookup=""
								col-headings="['State', 'Teachers']" />

	@* row = school type col = district *@
	<cross-tab heading-title="Teachers by {{'School Type'|vocab}}, {{'District'|vocab}} and Gender"
						 heading-filters="vm.filterString('SchoolType', 'District')"
						 dimensions="height6 width8"
						 toggle-selected="vm.boundToggleSelected"
						 selected-child="vm.selectedChild"
						 first-dim-name="{{'School Type'|vocab}}"
						 grid-data="vm.tabSchoolTypeByDistrict()"
						 col-labels-lookup="districts"
						 heading-options=" {    Total: ['NumTeachers@Male', 'NumTeachers@Female', 'NumTeachers@Total'],
                                Certified: ['Certified@Male', 'Certified@Female', 'Certified@Total'],
                                Qualified: ['Qualified@Male', 'Qualified@Female', 'Qualified@Total'],
                                CertQual:  ['CertQual@Male', 'CertQual@Female', 'CertQual@Total'] }"
						 indicator-calculators="vm.accessors" />
	@* row = district, col = school type*@

	@*
		<cross-tab heading-title="Teachers by {{'District'|vocab}}, {{'School Type'|vocab}} and Gender"
							 heading-filters="vm.filterString('District', 'Level')"
							 dimensions="height10 width8"
							 toggle-selected="vm.boundToggleSelected"
							 selected-child="vm.selectedChild"
							 first-dim-name="{{'District'|vocab}}"
							 grid-data="vm.tabDistrictBySchoolType()"
							 col-labels-lookup="schoolTypes"
							 @*row-labels="districts"
							detail-col-labels-lookup="levels"
							heading-options=" {    Total: ['NumTeachers@Male', 'NumTeachers@Female', 'NumTeachers@Total'],
							Certified: ['Certified@Male', 'Certified@Female', 'Certified@Total'],
							Qualified: ['Qualified@Male', 'Qualified@Female', 'Qualified@Total'],
							CertQual:  ['CertQual@Male', 'CertQual@Female', 'CertQual@Total'] }"
							indicator-calculators="vm.accessors" />
	*@
	@*<simple-table heading-title="Authority"
		dimensions="height4 width3"
		heading-filters="vm.filterString('Authority')"
		toggle-selected="::vm.boundToggleSelected"
		selected-child="vm.selectedChild"
		group="vm.grpAuthorityCode()"
		selected-key="vm.options.selectedAuthority"
		on-click="vm.toggle('selectedAuthority')"
		row-labels-lookup="authorities" />*@

}
