﻿<md-content flex layout-padding>
  <p>
    Only a summary of the FORM B school accreditation results will be shown to the schools for information purposes.
    The actual data collection is done through an Android app not by the schools themselves but by designated inspectors.
    If you believe some of the results below are not correct you must contact the National Data Management Office.
  </p>
</md-content>

<table class="md-table striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th class="leadership" colspan="4" style="text-align:center">Leadership</th>
      <th class="teacher-performance" colspan="4" style="text-align:center">Teacher Performance</th>
      <th class="data-management" colspan="4" style="text-align:center">Data Management</th>
      <th class="ncsb" colspan="4" style="text-align:center">NCSB</th>
      <th class="facility" colspan="4" style="text-align:center">Facility</th>
      <th class="sip" colspan="4" style="text-align:center">SIP</th>
      <th class="co" colspan="2" style="text-align:center">CO</th>
      <th class="level-tally" colspan="5" style="text-align:center">Level Tally</th>
      <th></th>
    </tr>
    <tr>
      <th>Period</th>
      <th>Submitted By</th>
      <th>L1</th>
      <th>L2</th>
      <th>L3</th>
      <th>L4</th>
      <th>T1</th>
      <th>T2</th>
      <th>T3</th>
      <th>T4</th>
      <th>D1</th>
      <th>D2</th>
      <th>D3</th>
      <th>D4</th>
      <th>N1</th>
      <th>N2</th>
      <th>N3</th>
      <th>N4</th>
      <th>F1</th>
      <th>F2</th>
      <th>F3</th>
      <th>F4</th>
      <th>S1</th>
      <th>S2</th>
      <th>S3</th>
      <th>S4</th>
      <th>CO1</th>
      <th>CO2</th>
      <th>LT1</th>
      <th>LT2</th>
      <th>LT3</th>
      <th>LT4</th>
      <th>Total</th>
      <th>School Level</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="sa in vm.schoolaccreditations | orderBy: 'InspYear' : true">
      <td>{{sa.InspYear}}</td>
      <td>{{sa.InspectedBy}}</td>
      <td>{{sa.L1 | number}}</td>
      <td>{{sa.L2 | number}}</td>
      <td>{{sa.L3 | number}}</td>
      <td>{{sa.L4 | number}}</td>
      <td>{{sa.T1 | number}}</td>
      <td>{{sa.T2 | number}}</td>
      <td>{{sa.T3 | number}}</td>
      <td>{{sa.T4 | number}}</td>
      <td>{{sa.D1 | number}}</td>
      <td>{{sa.D2 | number}}</td>
      <td>{{sa.D3 | number}}</td>
      <td>{{sa.D4 | number}}</td>
      <td>{{sa.N1 | number}}</td>
      <td>{{sa.N2 | number}}</td>
      <td>{{sa.N3 | number}}</td>
      <td>{{sa.N4 | number}}</td>
      <td>{{sa.F1 | number}}</td>
      <td>{{sa.F2 | number}}</td>
      <td>{{sa.F3 | number}}</td>
      <td>{{sa.F4 | number}}</td>
      <td>{{sa.S1 | number}}</td>
      <td>{{sa.S2 | number}}</td>
      <td>{{sa.S3 | number}}</td>
      <td>{{sa.S4 | number}}</td>
      <td>{{sa.CO1 | number}}</td>
      <td>{{sa.CO2 | number}}</td>
      <td class="readonly">{{sa.LT1 | number}}</td>
      <td class="readonly">{{sa.LT2 | number}}</td>
      <td class="readonly">{{sa.LT3 | number}}</td>
      <td class="readonly">{{sa.LT4 | number}}</td>
      <td class="readonly">{{sa.T | number}}</td>
      <td class="readonly">{{sa.SchLevel}}</td>
    </tr>
  </tbody>
</table>
