﻿<panel panel-class=""
       panel-icon="edit"
       heading="{{vm.title}}"
       panel-control-collapse="true">

  <table class="md-table striped">
    <colgroup>
      <col width="220" />
      <col width="80" />
      <col width="80" />
      <col width="80" />
      <col width="80" />
      <col width="80" />
      <col width="80" />
    </colgroup>
    <thead>
      <tr>
        <th></th>
        <th>Read</th>
        <th>ReadX</th>
        <th>Write</th>
        <th>WriteX</th>
        <th>Ops</th>
        <th>Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Enrolment</td>
        <td><span permission permission-only="'EnrolmentRead'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'EnrolmentReadX'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'EnrolmentWrite'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'EnrolmentWriteX'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'EnrolmentOps'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'EnrolmentAdmin'"><i class="fa fa-check"></i></span></td>
      </tr>

      <tr>
        <td>Establishment</td>
        <td><span permission permission-only="'EstablishmentRead'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'EstablishmentReadX'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'EstablishmentWrite'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'EstablishmentWriteX'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'EstablishmentOps'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'EstablishmentAdmin'"><i class="fa fa-check"></i></span></td>
      </tr>

      <tr>
        <td>Exam</td>
        <td><span permission permission-only="'ExamRead'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'ExamReadX'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'ExamWrite'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'ExamWriteX'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'ExamOps'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'ExamAdmin'"><i class="fa fa-check"></i></span></td>
      </tr>

      <tr>
        <td>Finance</td>
        <td><span permission permission-only="'FinanceRead'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'FinanceReadX'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'FinanceWrite'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'FinanceWriteX'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'FinanceOps'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'FinanceAdmin'"><i class="fa fa-check"></i></span></td>
      </tr>

      <tr>
        <td>Infrastructure</td>
        <td><span permission permission-only="'InfrastructureRead'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'InfrastructureReadX'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'InfrastructureWrite'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'InfrastructureWriteX'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'InfrastructureOps'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'InfrastructureAdmin'"><i class="fa fa-check"></i></span></td>
      </tr>

      <tr>
        <td>Inspection</td>
        <td><span permission permission-only="'InspectionRead'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'InspectionReadX'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'InspectionWrite'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'InspectionWriteX'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'InspectionOps'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'InspectionAdmin'"><i class="fa fa-check"></i></span></td>
      </tr>

      <tr>
        <td>IST</td>
        <td><span permission permission-only="'ISTRead'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'ISTReadX'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'ISTWrite'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'ISTWriteX'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'ISTOps'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'ISTAdmin'"><i class="fa fa-check"></i></span></td>
      </tr>

      <tr>
        <td>PA</td>
        <td><span permission permission-only="'PARead'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'PAReadX'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'PAWrite'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'PAWriteX'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'PAOps'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'PAAdmin'"><i class="fa fa-check"></i></span></td>
      </tr>

      <tr>
        <td>School</td>
        <td><span permission permission-only="'SchoolRead'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'SchoolReadX'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'SchoolWrite'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'SchoolWriteX'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'SchoolOps'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'SchoolAdmin'"><i class="fa fa-check"></i></span></td>
      </tr>

      <tr>
        <td>Survey</td>
        <td><span permission permission-only="'SurveyRead'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'SurveyReadX'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'SurveyWrite'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'SurveyWriteX'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'SurveyOps'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'SurveyAdmin'"><i class="fa fa-check"></i></span></td>
      </tr>

      <tr>
        <td>Teacher</td>
        <td><span permission permission-only="'TeacherRead'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'TeacherReadX'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'TeacherWrite'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'TeacherWriteX'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'TeacherOps'"><i class="fa fa-check"></i></span></td>
        <td><span permission permission-only="'TeacherAdmin'"><i class="fa fa-check"></i></span></td>
      </tr>
    </tbody>
  </table>

</panel>