﻿<panel panel-class="panel-primary"
       heading="Secondary Education Indicators"
       panel-collapse="true"
       style="width:100%">

  <md-tabs md-dynamic-height md-border-bottom>

    <md-tab label="Data Grid">
      <p>
        Please select a start and end year to compare indicators over time. Get more details on the column F% or GPI
        <md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('GPI')">
          <md-tooltip>Details</md-tooltip>
          <md-icon class="material-icons md-24 md-dark">info</md-icon>
        </md-button>
      </p>
      <table class="indicators table table-striped table-hover table-condensed">
        <colgroup>
          <col width="25" />
          <col width="7" />
          <col width="6" />
          <col width="6" />
          <col width="6" />
          <col width="7" />
          <col width="6" />
          <col width="6" />
          <col width="6" />
          <col width="7" />
          <col width="6" />
          <col width="6" />
          <col width="6" />
        </colgroup>

        <thead class="ng-cloak">
          <tr class="rowhdr">
            <th class="sec no-top-border">Indicators</th>
            <th colspan="4" class="table-cell-smashed">
              <select style="width:100%; color:#4b4b4b; font-size:14pt"
                      ng-options="year.C as year.N for year in vm.lookups.cache['surveyYears']"
                      ng-model="vm.baseYear"></select>
            </th>
            <th colspan="4" class="table-cell-smashed">
              <select style="width:100%; color:#4b4b4b; font-size:14pt"
                      ng-options="year.C as year.N for year in vm.lookups.cache['surveyYears']"
                      ng-model="vm.selectedYear"></select>
            </th>
            <th class="text-center" colspan="4">Change {{vm.baseYear}} - {{vm.selectedYear}}</th>
          </tr>

          <tr class="rowhdr">
            <th class="colghdr sec gray-left-border no-top-border"></th>
            <th class="colghdr gray-left-border text-right" ng-repeat-start="i in [1,2,3]">Total</th>
            <th class="colghdr text-right">Female</th>
            <th class="colghdr text-right">Male</th>
            <th class="colghdr text-right" ng-repeat-end>F% or GPI</th>
          </tr>
        </thead>

        <tbody>
          <tr class="ng-cloak">
            <td colspan="13" class="grouphdr">Context Indicators</td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Years of schooling</td>
            <td>{{vm.baseYearData.YearsOfSchooling}}</td>
            <td colspan="3" class="na sec" />
            <td>{{vm.selectedYearData.YearsOfSchooling}}</td>
            <td colspan="3" class="na sec" />
            <td>{{vm.selectedYearData.YearsOfSchooling - vm.baseYearData.YearsOfSchooling}}</td>
            <td colspan="3" class="na sec" />
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Official Start Age</td>
            <td>{{vm.baseYearData.OfficialStartAge}}</td>
            <td colspan="3" class="na sec" />
            <td>{{vm.selectedYearData.OfficialStartAge}}</td>
            <td colspan="3" class="na sec" />
            <td>{{vm.selectedYearData.OfficialStartAge - vm.baseYearData.OfficialStartAge}}</td>
            <td colspan="3" class="na sec" />
          </tr>

          <tr class="ng-cloak">
            <td colspan="13" class="grouphdr">Demographic Indicators</td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Population (Estimate)</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.Population[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Population[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">
              {{vm.selectedYearData.Population[g] - vm.baseYearData.Population[g]| percif :$last :0}}
              <md-icon ng-if="vm.selectedYearData.Population[g] - vm.baseYearData.Population[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
              <md-icon ng-if="vm.selectedYearData.Population[g] - vm.baseYearData.Population[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
              <md-icon ng-if="vm.selectedYearData.Population[g] - vm.baseYearData.Population[g] < 0.005 && vm.selectedYearData.Population[g] - vm.baseYearData.Population[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
            </td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Total Enrolment</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.Enrolment[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Enrolment[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">
              {{vm.selectedYearData.Enrolment[g] - vm.baseYearData.Enrolment[g]| percif :$last :0}}
              <md-icon ng-if="vm.selectedYearData.Enrolment[g] - vm.baseYearData.Enrolment[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
              <md-icon ng-if="vm.selectedYearData.Enrolment[g] - vm.baseYearData.Enrolment[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
              <md-icon ng-if="vm.selectedYearData.Enrolment[g] - vm.baseYearData.Enrolment[g] < 0.005 && vm.selectedYearData.Enrolment[g] - vm.baseYearData.Enrolment[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
            </td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Official Age Enrolment</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.NetEnrolment[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.NetEnrolment[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">
              {{vm.selectedYearData.NetEnrolment[g] - vm.baseYearData.NetEnrolment[g]| percif :$last :0}}
              <md-icon ng-if="vm.selectedYearData.NetEnrolment[g] - vm.baseYearData.NetEnrolment[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
              <md-icon ng-if="vm.selectedYearData.NetEnrolment[g] - vm.baseYearData.NetEnrolment[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
              <md-icon ng-if="vm.selectedYearData.NetEnrolment[g] - vm.baseYearData.NetEnrolment[g] < 0.005 && vm.selectedYearData.NetEnrolment[g] - vm.baseYearData.NetEnrolment[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
            </td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">
              Gross Enrolment Ratio
              <md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('GER')">
                <md-tooltip>Details</md-tooltip>
                <md-icon class="material-icons md-24 md-dark">info</md-icon>
              </md-button>
            </td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.GER[g]| percif:!($last) :1 }}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.GER[g]|percif:!($last) :1 }}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">
              {{vm.selectedYearData.GER[g] - vm.baseYearData.GER[g]| percif:!($last) :1 }}
              <md-icon ng-if="vm.selectedYearData.GER[g] - vm.baseYearData.GER[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
              <md-icon ng-if="vm.selectedYearData.GER[g] - vm.baseYearData.GER[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
              <md-icon ng-if="vm.selectedYearData.GER[g] - vm.baseYearData.GER[g] < 0.005 && vm.selectedYearData.GER[g] - vm.baseYearData.GER[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
            </td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">
              Net Enrolment Rate
              <md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('NER')">
                <md-tooltip>Details</md-tooltip>
                <md-icon class="material-icons md-24 md-dark">info</md-icon>
              </md-button>
            </td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.NER[g]| percif:!($last) :1 }}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.NER[g]| percif:!($last) :1 }}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">
              {{vm.selectedYearData.NER[g] - vm.baseYearData.NER[g]| percif:!($last) :1 }}
              <md-icon ng-if="vm.selectedYearData.NER[g] - vm.baseYearData.NER[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
              <md-icon ng-if="vm.selectedYearData.NER[g] - vm.baseYearData.NER[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
              <md-icon ng-if="vm.selectedYearData.NER[g] - vm.baseYearData.NER[g] < 0.005 && vm.selectedYearData.NER[g] - vm.baseYearData.NER[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
            </td>
          </tr>

          <tr class="ng-cloak">
            <td colspan="13" class="grouphdr">Quality Indicators</td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Number of Teachers</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.Teachers2[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Teachers2[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">
              {{vm.selectedYearData.Teachers2[g] - vm.baseYearData.Teachers2[g]| percif :$last :0}}
              <md-icon ng-if="vm.selectedYearData.Teachers2[g] - vm.baseYearData.Teachers2[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
              <md-icon ng-if="vm.selectedYearData.Teachers2[g] - vm.baseYearData.Teachers2[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
              <md-icon ng-if="vm.selectedYearData.Teachers2[g] - vm.baseYearData.Teachers2[g] < 0.005 && vm.selectedYearData.Teachers2[g] - vm.baseYearData.Teachers2[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
            </td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Certified</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.TeachersCert2[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.TeachersCert2[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">
              {{vm.selectedYearData.TeachersCert2[g] - vm.baseYearData.TeachersCert2[g]| percif :$last :0}}
              <md-icon ng-if="vm.selectedYearData.TeachersCert2[g] - vm.baseYearData.TeachersCert2[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
              <md-icon ng-if="vm.selectedYearData.TeachersCert2[g] - vm.baseYearData.TeachersCert2[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
              <md-icon ng-if="vm.selectedYearData.TeachersCert2[g] - vm.baseYearData.TeachersCert2[g] < 0.005 && vm.selectedYearData.TeachersCert2[g] - vm.baseYearData.TeachersCert2[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
            </td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Certified %</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.TeachersCertP2[g]| percif :!($last) :2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.TeachersCertP2[g]| percif :!($last) :2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">
              {{vm.selectedYearData.TeachersCertP2[g] - vm.baseYearData.TeachersCertP2[g]| percif :$last :0}}
              <md-icon ng-if="vm.selectedYearData.TeachersCertP2[g] - vm.baseYearData.TeachersCertP2[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
              <md-icon ng-if="vm.selectedYearData.TeachersCertP2[g] - vm.baseYearData.TeachersCertP2[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
              <md-icon ng-if="vm.selectedYearData.TeachersCertP2[g] - vm.baseYearData.TeachersCertP2[g] < 0.005 && vm.selectedYearData.TeachersCertP2[g] - vm.baseYearData.TeachersCertP2[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
            </td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Qualified</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.TeachersQual2[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.TeachersQual2[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">
              {{vm.selectedYearData.TeachersQual2[g] - vm.baseYearData.TeachersQual2[g]| percif :$last :0}}
              <md-icon ng-if="vm.selectedYearData.TeachersQual2[g] - vm.baseYearData.TeachersQual2[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
              <md-icon ng-if="vm.selectedYearData.TeachersQual2[g] - vm.baseYearData.TeachersQual2[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
              <md-icon ng-if="vm.selectedYearData.TeachersQual2[g] - vm.baseYearData.TeachersQual2[g] < 0.005 && vm.selectedYearData.TeachersQual2[g] - vm.baseYearData.TeachersQual2[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
            </td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Qualified %</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.TeachersQualP2[g]| percif :!($last) :2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.TeachersQualP2[g]| number :2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">
              {{vm.selectedYearData.TeachersQualP2[g] - vm.baseYearData.TeachersQualP2[g]| percif :$last :0}}
              <md-icon ng-if="vm.selectedYearData.TeachersQualP2[g] - vm.baseYearData.TeachersQualP2[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
              <md-icon ng-if="vm.selectedYearData.TeachersQualP2[g] - vm.baseYearData.TeachersQualP2[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
              <md-icon ng-if="vm.selectedYearData.TeachersQualP2[g] - vm.baseYearData.TeachersQualP2[g] < 0.005 && vm.selectedYearData.TeachersQualP2[g] - vm.baseYearData.TeachersQualP2[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
            </td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Pupil/Teacher Ratio</td>
            <td>{{vm.baseYearData.PTR2 |number:1}}</td>
            <td colspan="3" class="na sec" />
            <td>{{vm.selectedYearData.PTR2|number:1}}</td>
            <td colspan="3" class="na sec" />
            <td>
              {{vm.selectedYearData.PTR2 - vm.baseYearData.PTR2|number:1}}
              <md-icon ng-if="vm.selectedYearData.PTR2[g] - vm.baseYearData.PTR2[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
              <md-icon ng-if="vm.selectedYearData.PTR2[g] - vm.baseYearData.PTR2[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
              <md-icon ng-if="vm.selectedYearData.PTR2[g] - vm.baseYearData.PTR2[g] < 0.005 && vm.selectedYearData.PTR2[g] - vm.baseYearData.PTR2[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
            </td>
            <td colspan="3" class="na sec" />
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Pupil/Certified Teacher Ratio</td>
            <td>{{vm.baseYearData.CertPTR2 |number:1}}</td>
            <td colspan="3" class="na sec" />
            <td>{{vm.selectedYearData.CertPTR2|number:1}}</td>
            <td colspan="3" class="na sec" />
            <td>
              {{vm.selectedYearData.CertPTR2 - vm.baseYearData.CertPTR2|number:1}}
              <md-icon ng-if="vm.selectedYearData.CertPTR2[g] - vm.baseYearData.CertPTR2[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
              <md-icon ng-if="vm.selectedYearData.CertPTR2[g] - vm.baseYearData.CertPTR2[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
              <md-icon ng-if="vm.selectedYearData.CertPTR2[g] - vm.baseYearData.CertPTR2[g] < 0.005 && vm.selectedYearData.CertPTR2[g] - vm.baseYearData.CertPTR2[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
            </td>
            <td colspan="3" class="na sec" />
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Pupil/Qualified Teacher Ratio</td>
            <td>{{vm.baseYearData.QualPTR2 |number:1}}</td>
            <td colspan="3" class="na sec" />
            <td>{{vm.selectedYearData.QualPTR2|number:1}}</td>
            <td colspan="3" class="na sec" />
            <td>
              {{vm.selectedYearData.QualPTR2 - vm.baseYearData.QualPTR2|number:1}}
              <md-icon ng-if="vm.selectedYearData.QualPTR2[g] - vm.baseYearData.QualPTR2[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
              <md-icon ng-if="vm.selectedYearData.QualPTR2[g] - vm.baseYearData.QualPTR2[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
              <md-icon ng-if="vm.selectedYearData.QualPTR2[g] - vm.baseYearData.QualPTR2[g] < 0.005 && vm.selectedYearData.QualPTR2[g] - vm.baseYearData.QualPTR2[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
            </td>
            <td colspan="3" class="na sec" />
          </tr>

          <tr class="ng-cloak">
            <td colspan="13" class="grouphdr">Process Indicators</td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">No of Repeaters</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.Repeaters[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Repeaters[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">
              {{vm.selectedYearData.Repeaters[g] - vm.baseYearData.Repeaters[g]| percif :$last :0}}
              <md-icon ng-if="vm.selectedYearData.Repeaters[g] - vm.baseYearData.Repeaters[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
              <md-icon ng-if="vm.selectedYearData.Repeaters[g] - vm.baseYearData.Repeaters[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
              <md-icon ng-if="vm.selectedYearData.Repeaters[g] - vm.baseYearData.Repeaters[g] < 0.005 && vm.selectedYearData.Repeaters[g] - vm.baseYearData.Repeaters[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
            </td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">
              Repetition Rate
              <md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('RR')">
                <md-tooltip>Details</md-tooltip>
                <md-icon class="material-icons md-24 md-dark">info</md-icon>
              </md-button>
            </td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.RepRate[g]| percif:!($last) :2 }}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.RepRate[g]| percif:!($last) :2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">
              {{vm.selectedYearData.RepRate[g] - vm.baseYearData.RepRate[g]| percif:!($last) :2}}
              <md-icon ng-if="vm.selectedYearData.RepRate[g] - vm.baseYearData.RepRate[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
              <md-icon ng-if="vm.selectedYearData.RepRate[g] - vm.baseYearData.RepRate[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
              <md-icon ng-if="vm.selectedYearData.RepRate[g] - vm.baseYearData.RepRate[g] < 0.005 && vm.selectedYearData.RepRate[g] - vm.baseYearData.RepRate[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
            </td>
          </tr>

          <tr class="ng-cloak">
            <td colspan="13" class="grouphdr">Outcome Indicators</td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">
              Survival Rate (to Year 12)
              <md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('SR')">
                <md-tooltip>Details</md-tooltip>
                <md-icon class="material-icons md-24 md-dark">info</md-icon>
              </md-button>
            </td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.Survival12[g]| number :2 }}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.Survival12[g]| number :2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">
              {{vm.selectedYearData.Survival12[g] - vm.baseYearData.Survival12[g]| number :2}}
              <md-icon ng-if="vm.selectedYearData.Survival12[g] - vm.baseYearData.Survival12[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
              <md-icon ng-if="vm.selectedYearData.Survival12[g] - vm.baseYearData.Survival12[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
              <md-icon ng-if="vm.selectedYearData.Survival12[g] - vm.baseYearData.Survival12[g] < 0.005 && vm.selectedYearData.Survival12[g] - vm.baseYearData.Survival12[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
            </td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Intake (i.e. in first grade of secondary)</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.Intake[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.Intake[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">
              {{vm.selectedYearData.Intake[g] - vm.baseYearData.Intake[g]| percif :$last :0}}
              <md-icon ng-if="vm.selectedYearData.Intake[g] - vm.baseYearData.Intake[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
              <md-icon ng-if="vm.selectedYearData.Intake[g] - vm.baseYearData.Intake[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
              <md-icon ng-if="vm.selectedYearData.Intake[g] - vm.baseYearData.Intake[g] < 0.005 && vm.selectedYearData.Intake[g] - vm.baseYearData.Intake[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
            </td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">
              Gross Intake Ratio (i.e. in first grade of secondary)
              <md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('GIR')">
                <md-tooltip>Details</md-tooltip>
                <md-icon class="material-icons md-24 md-dark">info</md-icon>
              </md-button>
            </td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.GIR[g]| percif:!($last) :2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.GIR[g]| percif:!($last) :2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">
              {{vm.selectedYearData.GIR[g] - vm.baseYearData.GIR[g]| percif:!($last) :2}}
              <md-icon ng-if="vm.selectedYearData.GIR[g] - vm.baseYearData.GIR[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
              <md-icon ng-if="vm.selectedYearData.GIR[g] - vm.baseYearData.GIR[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
              <md-icon ng-if="vm.selectedYearData.GIR[g] - vm.baseYearData.GIR[g] < 0.005 && vm.selectedYearData.GIR[g] - vm.baseYearData.GIR[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
            </td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">
              Gross Intake Ratio (i.e. in last grade of secondary)
              <md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('GIRLG')">
                <md-tooltip>Details</md-tooltip>
                <md-icon class="material-icons md-24 md-dark">info</md-icon>
              </md-button>
            </td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.GIRLast[g]| percif:!($last) :2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.GIRLast[g]| percif:!($last) :2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">
              {{vm.selectedYearData.GIRLast[g] - vm.baseYearData.GIRLast[g]| percif:!($last) :2}}
              <md-icon ng-if="vm.selectedYearData.GIRLast[g] - vm.baseYearData.GIRLast[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
              <md-icon ng-if="vm.selectedYearData.GIRLast[g] - vm.baseYearData.GIRLast[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
              <md-icon ng-if="vm.selectedYearData.GIRLast[g] - vm.baseYearData.GIRLast[g] < 0.005 && vm.selectedYearData.GIRLast[g] - vm.baseYearData.GIRLast[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
            </td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Net Intake (i.e. in first grade of secondary)</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.NetIntake[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.NetIntake[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">
              {{vm.selectedYearData.NetIntake[g] - vm.baseYearData.NetIntake[g]| percif :$last :0}}
              <md-icon ng-if="vm.selectedYearData.NetIntake[g] - vm.baseYearData.NetIntake[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
              <md-icon ng-if="vm.selectedYearData.NetIntake[g] - vm.baseYearData.NetIntake[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
              <md-icon ng-if="vm.selectedYearData.NetIntake[g] - vm.baseYearData.NetIntake[g] < 0.005 && vm.selectedYearData.NetIntake[g] - vm.baseYearData.NetIntake[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
            </td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">
              Net Intake Rate (i.e. in first grade of secondary)
              <md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('NIR')">
                <md-tooltip>Details</md-tooltip>
                <md-icon class="material-icons md-24 md-dark">info</md-icon>
              </md-button>
            </td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.NIR[g]| percif:!($last) :2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.NIR[g]| percif:!($last) :2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">
              {{vm.selectedYearData.NIR[g] - vm.baseYearData.NIR[g]| percif:!($last) :2}}
              <md-icon ng-if="vm.selectedYearData.NIR[g] - vm.baseYearData.NIR[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
              <md-icon ng-if="vm.selectedYearData.NIR[g] - vm.baseYearData.NIR[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
              <md-icon ng-if="vm.selectedYearData.NIR[g] - vm.baseYearData.NIR[g] < 0.005 && vm.selectedYearData.NIR[g] - vm.baseYearData.NIR[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
            </td>
          </tr>

        </tbody>
      </table>

    </md-tab>

    <md-tab label="Historical Charts">
      <div class="row">
        <div class="col-md-12"><h2>Demographic Indicators</h2></div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Population" chart-type="line" indicator="Population" meta="['Population (Male)', 'Population (Female)', 'Population (Total)']"></chart>
        </div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Enrolment" chart-type="line" indicator="Enrolment" meta="['Enrolment (Male)', 'Enrolment (Female)', 'Enrolment (Total)']"></chart>
        </div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Net Enrolment (Official Age)" chart-type="line" indicator="NetEnrolment" meta="['Net Enrolment (Male)', 'Net Enrolment (Female)', 'Net Enrolment (Total)']"></chart>
        </div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Net Enrolment Rate" chart-type="line"
                 value-format="0.0%" indicator="NER" meta="['NER (Male)', 'NER (Female)', 'NER (Total)']"></chart>
        </div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Gross Enrolment Rate" chart-type="line"
                 value-format="0.0%" indicator="GER" meta="['GER (Male)', 'GER (Female)', 'GER (Total)']"></chart>
        </div>
        <div class="col-md-12"><h2>Quality Indicators</h2></div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Teachers" chart-type="line" indicator="Teachers" meta="['Teachers (Male)', 'Teachers (Female)', 'Teachers (Total)']"></chart>
        </div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Certified Teachers" chart-type="line"
                 value-format="0.0%" indicator="TeachersCert" meta="['Teachers Certified (Male)', 'Teachers Certified (Female)', 'Teachers Certified (Total)']"></chart>
        </div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Qualified Teachers" chart-type="line"
                 value-format="0.0%" indicator="TeachersQual" meta="['Teachers Qualified (Male)', 'Teachers Qualified (Female)', 'Teachers Qualified (Total)']"></chart>
        </div>
        <div class="col-md-12"><h2>Process Indicators</h2></div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Repeaters" chart-type="line" indicator="Repeaters" meta="['Repeaters (Male)', 'Repeaters (Female)', 'Repeaters (Total)']"></chart>
        </div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Repeaters Rate" chart-type="line" indicator="RepRate" meta="['RepRate (Male)', 'RepRate (Female)', 'RepRate (Total)']"></chart>
        </div>
        <div class="col-md-12"><h2>Outcome Indicators</h2></div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Survival12" chart-type="line" indicator="Survival12" meta="['Survival12 (Male)', 'Survival12 (Female)', 'Survival4 (Total)']"></chart>
        </div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Intake" chart-type="line" indicator="Intake" meta="['Intake (Male)', 'Intake (Female)', 'Intake (Total)']"></chart>
        </div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="GIR" chart-type="line" indicator="GIR" meta="['GIR (Male)', 'GIR (Female)', 'GIR (Total)']"></chart>
        </div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="GIRLG" chart-type="line" indicator="GIRLast" meta="['GIRLast (Male)', 'GIRLast (Female)', 'GIRLast (Total)']"></chart>
        </div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Net Intake" chart-type="line" indicator="NetIntake" meta="['NetIntake (Male)', 'NetIntake (Female)', 'NetIntake (Total)']"></chart>
        </div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="NIR" chart-type="line" indicator="NIR" meta="['NIR (Male)', 'NIR (Female)', 'NIR (Total)']"></chart>
        </div>
      </div>
    </md-tab>

  </md-tabs>

</panel>