﻿<h4>Search/Filter Dataset</h4>

@{
  Layout = null;
}

<div layout-gt-xs="row">
  <md-input-container class="md-block" flex-gt-sm>
    <label>School Accreditation ID</label>
    <input ng-model="vm.params.SAID" type="number" />
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>{{"School No" | vocab }}</label>
    <input type="text"
           ng-model="vm.params.SchoolNo"
           ng-disabled="vm.findConfig.isLocked('SchoolNo')" />
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>School Name</label>
    <input ng-model="vm.params.School" type="text" />
  </md-input-container>

  @*TODO - Move to dynamic lookups of existing quarterly report periods*@
  <md-input-container class="md-block" flex-gt-sm>
    <label>Year (e.g. 2016)</label>
    <input ng-model="vm.params.InspYear" type="text" />
  </md-input-container>
</div>

<section layout="row" layout-align="center center">
  <md-button class="md-raised" id="Reset" ng-click="vm.Reset()"><i class="fa fa-close"></i> Clear</md-button>
  <md-button class="md-raised md-primary" id="findNow" ng-click="vm.FindNow()"><i class="fa fa-filter"></i> Filter</md-button>
</section>
