﻿@* teacher document List
*@
<div>
  <div>
    <table class="md-table striped">

      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>File Name</th>
          <th>Description</th>
          <th>Category</th>
          <th>Date</th>
          <th>Source</th>
          <th>Operations</th>
        </tr>
      </thead>

      <tbody>
        <tr data-ng-repeat="link in vm.links">
          <td><component-thumbnail document="link"></component-thumbnail></td>
          <td>{{link.docTitle}}</td>
          <td>{{link.docDescription}}</td>
          <td>{{link.lnkFunction}}</td>
          <td>{{link.docDate | date:"d MMM yyyy"}}</td>
          <td>{{link.docSource}}</td>
          <td>
            <md-button class="md-icon-button" ng-click="vm.doEdit(link, $event)">
              <md-tooltip>Edit details</md-tooltip>
              <md-icon class="material-icons md-24 md-dark">edit</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.doDelete(link, $event)">
              <md-tooltip>Delete document</md-tooltip>
              <md-icon class="material-icons md-24 md-dark">delete</md-icon>
            </md-button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

  <div layout="row">
    <div flex></div>
    <md-button class="md-fab md-mini" ng-click="vm.newDoc()">
      <md-icon class="md-24">add</md-icon>
      <md-tooltip>Add document</md-tooltip>
    </md-button>
  </div>
</div>