﻿@* teacher survey List
*@

<div>
  <div permission permission-only="'TeacherReadX'">
    <table class="md-table striped">

      <thead>

        <tr>
          <th>Period</th>
          <th>Payee Name</th>
          <th>Job Title</th>
          <th>Position No</th>
          <th>Gross</th>

        </tr>
      </thead>

      <tbody>
        <tr data-ng-repeat="payslip in vm.payslips | orderBy: tpsPeriodStart : false" ng-click="vm.showPayslip(payslip)">
          <td>{{payslip.tpsPeriodStart | date:"d-MMM-yyyy"}} - {{payslip.tpsPeriodEnd| date:"d-MMM-yyyy"}}</td>
          <td>{{payslip.tpsShortName}}</td>
          <td>{{payslip.tpsTitle}}</td>
          <td>{{payslip.tpsPosition}}</td>
          <td>{{payslip.tpsGross}}</td>


        </tr>
      </tbody>

    </table>



  </div>
  <div permission permission-except="'TeacherReadX'">
    <h4>You do not have permission to view teacher payslips</h4>
  </div>
</div>