﻿<panel panel-class="panel-primary"
       heading="High School Education Indicators"
       panel-collapse="true"
       style="width:100%">

  <md-tabs md-dynamic-height md-border-bottom>

    <md-tab label="Data Grid">
      <p>Please select a start and end year to compare indicators over time</p>
      <table class="indicators table table-striped table-hover table-condensed">
        <colgroup>
          <col width="25" />
          <col width="7" />
          <col width="6" />
          <col width="6" />
          <col width="6" />
          <col width="7" />
          <col width="6" />
          <col width="6" />
          <col width="6" />
          <col width="7" />
          <col width="6" />
          <col width="6" />
          <col width="6" />
        </colgroup>

        <thead class="ng-cloak">
          <tr class="rowhdr">
            <th class="sec no-top-border">Indicators</th>
            <th colspan="4" class="table-cell-smashed">
              <select style="width:100%; color:#4b4b4b; font-size:14pt"
                      ng-options="year.C as year.N for year in vm.lookups.cache['surveyYears']"
                      ng-model="vm.baseYear"></select>
            </th>
            <th colspan="4" class="table-cell-smashed">
              <select style="width:100%; color:#4b4b4b; font-size:14pt"
                      ng-options="year.C as year.N for year in vm.lookups.cache['surveyYears']"
                      ng-model="vm.selectedYear"></select>
            </th>
            <th class="text-center" colspan="4">Change {{vm.baseYear}} - {{vm.selectedYear}}</th>
          </tr>

          <tr class="rowhdr">
            <th class="colghdr sec gray-left-border no-top-border"></th>
            <th class="colghdr gray-left-border text-right" ng-repeat-start="i in [1,2,3]">Total</th>
            <th class="colghdr text-right">F</th>
            <th class="colghdr text-right">M</th>
            <th class="colghdr text-right" ng-repeat-end>F% <span class="alt-light">(GPI)</span></th>
          </tr>
        </thead>

        <tbody>
          <tr class="ng-cloak">
            <td colspan="13" class="grouphdr">Context Indicators</td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Years of schooling</td>
            <td>{{vm.baseYearData.YearsOfSchooling}}</td>
            <td colspan="3" class="na sec" />
            <td>{{vm.selectedYearData.YearsOfSchooling}}</td>
            <td colspan="3" class="na sec" />
            <td>{{vm.selectedYearData.YearsOfSchooling - vm.baseYearData.YearsOfSchooling}}</td>
            <td colspan="3" class="na sec" />
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Official Start Age</td>
            <td>{{vm.baseYearData.OfficialStartAge}}</td>
            <td colspan="3" class="na sec" />
            <td>{{vm.selectedYearData.OfficialStartAge}}</td>
            <td colspan="3" class="na sec" />
            <td>{{vm.selectedYearData.OfficialStartAge - vm.baseYearData.OfficialStartAge}}</td>
            <td colspan="3" class="na sec" />
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Number of High School Schools</td>
            <td>{{vm.indicatorCalc.schoolCount(vm.baseYear, 'SS')}}</td>
            <td colspan="3" class="na sec" />
            <td>{{vm.indicatorCalc.schoolCount(vm.selectedYear, 'SS')}}</td>
            <td colspan="3" class="na sec" />
            <td>{{vm.indicatorCalc.schoolCount(vm.selectedYear, 'SS') - vm.indicatorCalc.schoolCount(vm.baseYear, 'SS')}}</td>
            <td colspan="3" class="na sec" />
          </tr>

          <tr class="ng-cloak">
            <td colspan="13" class="grouphdr">Demographic Indicators</td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Population (Est)</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.Population[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Population[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Population[g] - vm.baseYearData.Population[g]| percif :$last :0}}</td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Enrolment</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.Enrolment[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Enrolment[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Enrolment[g] - vm.baseYearData.Enrolment[g]| percif :$last :0}}</td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Official Age Enrolment</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.NetEnrolment[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.NetEnrolment[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.NetEnrolment[g] - vm.baseYearData.NetEnrolment[g]| percif :$last :0}}</td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">
              GER
              <md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('GER')">
                <md-tooltip>Details</md-tooltip>
                <md-icon class="material-icons md-24 md-dark">info</md-icon>
              </md-button>
            </td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.GER[g]| percif:!($last) :1 }}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.GER[g]|percif:!($last) :1 }}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.GER[g] - vm.baseYearData.GER[g]| percif:!($last) :1 }}</td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">
              NER
              <md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('NER')">
                <md-tooltip>Details</md-tooltip>
                <md-icon class="material-icons md-24 md-dark">info</md-icon>
              </md-button>
            </td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.NER[g]| percif:!($last) :1 }}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.NER[g]| percif:!($last) :1 }}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.NER[g] - vm.baseYearData.NER[g]| percif:!($last) :1 }}</td>
          </tr>

          <tr class="ng-cloak">
            <td colspan="13" class="grouphdr">Quality Indicators</td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Number of Teachers</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.Teachers2[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Teachers2[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Teachers2[g] - vm.baseYearData.Teachers2[g]| percif :$last :0}}</td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Certified</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.TeachersCert2[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.TeachersCert2[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.TeachersCert2[g] - vm.baseYearData.TeachersCert2[g]| percif :$last :0}}</td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Certified %</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.TeachersCertP2[g]| percif :!($last) :2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.TeachersCertP2[g]| number :2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.TeachersCertP2[g] - vm.baseYearData.TeachersCertP2[g]| percif :$last :0}}</td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Qualified</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.TeachersQual2[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.TeachersQual2[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.TeachersQual2[g] - vm.baseYearData.TeachersQual2[g]| percif :$last :0}}</td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Qualified %</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.TeachersQualP2[g]| percif :!($last) :2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.TeachersQualP2[g]| number :2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.TeachersQualP2[g] - vm.baseYearData.TeachersQualP2[g]| percif :$last :0}}</td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Pupil/Teacher Ratio</td>
            <td>{{vm.baseYearData.PTR2 |number:1}}</td>
            <td colspan="3" class="na sec" />
            <td>{{vm.selectedYearData.PTR2|number:1}}</td>
            <td colspan="3" class="na sec" />
            <td>{{vm.selectedYearData.PTR2 - vm.baseYearData.PTR2|number:1}}</td>
            <td colspan="3" class="na sec" />
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Pupil/Certified Teacher Ratio</td>
            <td>{{vm.baseYearData.CertPTR2 |number:1}}</td>
            <td colspan="3" class="na sec" />
            <td>{{vm.selectedYearData.CertPTR2|number:1}}</td>
            <td colspan="3" class="na sec" />
            <td>{{vm.selectedYearData.CertPTR2 - vm.baseYearData.CertPTR2|number:1}}</td>
            <td colspan="3" class="na sec" />
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Pupil/Qualified Teacher Ratio</td>
            <td>{{vm.baseYearData.QualPTR2 |number:1}}</td>
            <td colspan="3" class="na sec" />
            <td>{{vm.selectedYearData.QualPTR2|number:1}}</td>
            <td colspan="3" class="na sec" />
            <td>{{vm.selectedYearData.QualPTR2 - vm.baseYearData.QualPTR2|number:1}}</td>
            <td colspan="3" class="na sec" />
          </tr>

          <tr class="ng-cloak">
            <td colspan="13" class="grouphdr">Process Indicators</td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">No of Repeaters</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.Repeaters[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Repeaters[g]| percif :$last :0}}</td>
            <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Repeaters[g] - vm.baseYearData.Repeaters[g]| percif :$last :0}}</td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">
              Repetition Rate
              <md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('RR')">
                <md-tooltip>Details</md-tooltip>
                <md-icon class="material-icons md-24 md-dark">info</md-icon>
              </md-button>
            </td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.RepRate[g]| percif:!($last) :2 }}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.RepRate[g]| percif:!($last) :2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.RepRate[g] - vm.baseYearData.RepRate[g]| percif:!($last) :2}}</td>
          </tr>

          <tr class="ng-cloak">
            <td colspan="13" class="grouphdr">Outcome Indicators</td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">
              Survival Rate (to Year 12)
              <md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('SR')">
                <md-tooltip>Details</md-tooltip>
                <md-icon class="material-icons md-24 md-dark">info</md-icon>
              </md-button>
            </td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.Survival6[g]| number :2 }}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.Survival6[g]| number :2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.Survival6[g] - vm.baseYearData.Survival6[g]| number :2}}</td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Intake (i.e. in first grade of secondary)</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.Intake[g]| number:2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.Intake[g]| number:2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.Intake[g] - vm.baseYearData.Intake[g]| number:2}}</td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">
              GIR (i.e. in first grade of seconcary)
              <md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('GIR')">
                <md-tooltip>Details</md-tooltip>
                <md-icon class="material-icons md-24 md-dark">info</md-icon>
              </md-button>
            </td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.GIR[g]| number:2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.GIR[g]| number:2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.GIR[g] - vm.baseYearData.GIR[g]| number:2}}</td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">
              GIRLG (i.e. in last grade of elementary)
              <md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('GIRLG')">
                <md-tooltip>Details</md-tooltip>
                <md-icon class="material-icons md-24 md-dark">info</md-icon>
              </md-button>
            </td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.GIRLast[g]| number:2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.GIRLast[g]| number:2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.GIRLast[g] - vm.baseYearData.GIRLast[g]| number:2}}</td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">Net Intake (i.e. in first grade of secondary)</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.NetIntake[g]| number:2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.NetIntake[g]| number:2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.NetIntake[g] - vm.baseYearData.NetIntake[g]| number:2}}</td>
          </tr>

          <tr class="ng-cloak">
            <td class="rowhdr sec">
              NIR (i.e. NIR in first grade of secondary)
              <md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('NIR')">
                <md-tooltip>Details</md-tooltip>
                <md-icon class="material-icons md-24 md-dark">info</md-icon>
              </md-button>
            </td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.NIR[g]| number:2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.NIR[g]| number:2}}</td>
            <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.NIR[g] - vm.baseYearData.NIR[g]| number:2}}</td>
          </tr>

        </tbody>
      </table>

      <div class="alert alert-info alert-smaller" role="alert" typeof="info"><strong>Process Indicators Note:</strong> System supported process indicators include "Total Repeaters", "Repetition Rate" but required data to calculate them is missing. The required data has been added to the new annual school survey and quality information will sprint to life starting this year. We may be able to infer this data for previous years albeit with high probability of flawed data.</div>
      <div class="alert alert-info alert-smaller" role="alert" typeof="info"><strong>Outcome Indicators Note:</strong> System supported outcome indicators include "Survival Rate (to any school year, and more specifically to end of elementary (i.e. 8th Grade) and and of high school (i.e. 12th Grade))" but required data to calculate this is missing. The required data has been added to the new annual school survey and quality information will sprint to life starting this year. We may be able to infer this data for previous years albeit with high probability of flawed data.</div>

    </md-tab>

    <md-tab label="Historical Charts">
      <div class="row">
        <div class="col-md-12"><h2>Demographic Indicators</h2></div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Population" chart-type="line" indicator="Population" meta="['Population (Male)', 'Population (Female)', 'Population (Total)']"></chart>
        </div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Enrolment" chart-type="line" indicator="Enrolment" meta="['Enrolment (Male)', 'Enrolment (Female)', 'Enrolment (Total)']"></chart>
        </div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Net Enrolment (Official Age)" chart-type="line" indicator="NetEnrolment" meta="['Net Enrolment (Male)', 'Net Enrolment (Female)', 'Net Enrolment (Total)']"></chart>
        </div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Net Enrolment Rate" chart-type="line" indicator="NER" meta="['NER (Male)', 'NER (Female)', 'NER (Total)']"></chart>
        </div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Gross Enrolment Rate" chart-type="line" indicator="GER" meta="['GER (Male)', 'GER (Female)', 'GER (Total)']"></chart>
        </div>
        <div class="col-md-12"><h2>Quality Indicators</h2></div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Teachers" chart-type="line" indicator="Teachers" meta="['Teachers (Male)', 'Teachers (Female)', 'Teachers (Total)']"></chart>
        </div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Certified Teachers" chart-type="line" indicator="TeachersCert" meta="['Teachers Certified (Male)', 'Teachers Certified (Female)', 'Teachers Certified (Total)']"></chart>
        </div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Qualified Teachers" chart-type="line" indicator="TeachersQual" meta="['Teachers Qualified (Male)', 'Teachers Qualified (Female)', 'Teachers Qualified (Total)']"></chart>
        </div>
        <div class="col-md-12"><h2>Process Indicators</h2></div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Repeaters" chart-type="line" indicator="Repeaters" meta="['Repeaters (Male)', 'Repeaters (Female)', 'Repeaters (Total)']"></chart>
        </div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Repeaters Rate" chart-type="line" indicator="RepRate" meta="['RepRate (Male)', 'RepRate (Female)', 'RepRate (Total)']"></chart>
        </div>
        <div class="col-md-12"><h2>Outcome Indicators</h2></div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Survival12" chart-type="line" indicator="Survival12" meta="['Survival12 (Male)', 'Survival12 (Female)', 'Survival4 (Total)']"></chart>
        </div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Intake" chart-type="line" indicator="Intake" meta="['Intake (Male)', 'Intake (Female)', 'Intake (Total)']"></chart>
        </div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="GIR" chart-type="line" indicator="GIR" meta="['GIR (Male)', 'GIR (Female)', 'GIR (Total)']"></chart>
        </div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="GIRLG" chart-type="line" indicator="GIRLast" meta="['GIRLast (Male)', 'GIRLast (Female)', 'GIRLast (Total)']"></chart>
        </div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="Net Intake" chart-type="line" indicator="NetIntake" meta="['NetIntake (Male)', 'NetIntake (Female)', 'NetIntake (Total)']"></chart>
        </div>
        <div class="col-xs-12 col-md-6">
          <chart indicators="vm" title="NIR" chart-type="line" indicator="NIR" meta="['NIR (Male)', 'NIR (Female)', 'NIR (Total)']"></chart>
        </div>
      </div>
    </md-tab>

  </md-tabs>

</panel>
