﻿@*
  Confirmation to proess upload of Ndoe data
    uses MaterialLayoutDialog
*@

@section icon {
  <img ng-src="https://kf.kobotoolbox.org/"></img>
}

@section title {
  Kobo Results Workbook Uploaded
}

@section tools {
}

@* body *@
<div class="container-fluid">
  <div><div class="xs-col-9">Survey Tool:</div><div class="xs-col-3">{{dvm.info.surveyTool}}</div></div>
  <div><div class="xs-col-9">Surveys completed:</div><div class="xs-col-3">{{dvm.info.listRows}}</div></div>
  <div><div class="xs-col-9">First:</div><div class="xs-col-3">{{dvm.info.firstDate | date: 'd MMM yyyy hh:nn'}}</div></div>
  <div><div class="xs-col-9">Last:</div><div class="xs-col-3">{{dvm.info.lastDate}}</div></div>
</div>
<div ng-show="dvm.info.hasValidations">
  Invalid rows were found in this workbook. Review and correct these problems, then submit the file again.
</div>

@section actions {

  <md-button ng-click="dvm.returnSuccess()" ng-disabled="dvm.info.hasValidations" class="md-primary">
    Process this file
  </md-button>
  <md-button ng-click="dvm.returnFail()" class="md-primary">
    Cancel - discard this data
  </md-button>
}
