﻿<panel panel-class=""
       panel-icon="list"
       heading="Upload from Kobo"
       panel-control-collapse="true">

  <div layout="row" layout-margin>
    <div flex-gt-sm="33">
      <div ng-show="vm.uploader.isHTML5">
        <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
        <div nv-file-drop="" uploader="vm.uploader">
          <div nv-file-over="" uploader="vm.uploader" over-class="another-file-over-class" class="well my-drop-zone">
            Drop Kobo Survey Workbook here...
          </div>
        </div>
      </div>

      <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
      <label for="inputFile"> ... or click to select file...</label>
      <input type="file" name="inputFile" id="inputFile" nv-file-select="" uploader="vm.uploader" ng-show="false" /><br />
    </div>

    <div flex-gt-sm="66">
      <table class="md-table">
        <thead>
          <tr>
            <th width="50%">Name</th>
            <th ng-show="vm.uploader.isHTML5">Size</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.uploader.queue">
            <td>
              <strong>{{ item.file.name }}</strong>
            </td>
            <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
            <td class="text-center">
              <span ng-show="item.isSuccess"><i class="fa fa-check"></i></span>
              <span ng-show="item.isCancel"><i class="fa fa-ban"></i></span>
              <span ng-show="item.isError"><i class="fa fa-exclamation"></i></span>
            </td>
          </tr>
        </tbody>
      </table>

      <div>
        <md-progress-linear md-mode="indeterminate" ng-show="vm.uploader.isUploading"></md-progress-linear>
        <md-button class="md-raised md-primary" ng-click="vm.uploader.uploadAll()" ng-disabled="(vm.uploader.getNotUploadedItems().length === 0)">
          <md-icon class="material-icons md-24">cloud_upload</md-icon>
          Upload
        </md-button>
        <md-button class="md-raised md-warn" ng-click="vm.uploader.cancelAll()" ng-disabled="!vm.uploader.isUploading">
          <md-icon class="material-icons md-24">cancel</md-icon>
          Cancel
        </md-button>
        <md-button class="md-raised" ng-click="vm.uploader.clearQueue()" ng-disabled="!vm.uploader.queue.length">
          <md-icon class="material-icons md-24">clear</md-icon>
          Clear
        </md-button>
      </div>

    </div>
  </div>

  <div>
    <div ng-show="vm.uploadResponseData">
      <div>Survey Tool: {{vm.uploadResponseData.surveyTool}}</div>
      <div>Number of records: {{vm.uploadResponseData.listRows}}</div>
      <div>First Date:{{vm.uploadResponseData.firstDate}}</div>
      <div>Last Date:{{vm.uploadResponseData.lastDate}}</div>
      <div>File Id:{{vm.uploadResponseData.id}}</div>
    </div>
    <div ng-show="vm.uploadResponseData.hasValidations">
      <div>Missing or undefined school codes were found:</div>
      <table class="md-table striped">
        <thead>
          <tr>
            <th>Row Index</th>
            <th>School No</th>
            <th>Inspection Type</th>
            <th colspan="2">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="v in vm.uploadResponseData.validations">
            <td>{{v.rowIndex}}</td>
            <td>{{v.schNo}}</td>
            <td>{{v.inspectionType}}</td>
            <td>{{v.schStatus}}</td>
            <td>{{v.inspStatus}}</td>

          </tr>
        </tbody>
      </table>

    </div>
    <div ng-show="vm.processResponseData">
      <table class="md-table striped">
        <thead>
          <tr>
            <th>School No</th>
            <th>Inspection ID</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="v in vm.processResponseData.responseData">
            <td>{{v.schNo}}</td>
            <td>{{v.inspID}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</panel>