﻿
<panel panel-class="panel-primary" heading="Enrolment by Level {{vm.model.edLevel}}, {{vm.model.year}}" panel-close="true">

  <table class="md-table striped">
    <tr ng-repeat="enrol in vm.model.enrol">
      <td>{{enrol.yoe}}</td>
      <td>{{enrol.M}}</td>
      <td>{{enrol.F}}</td>
      <td>{{enrol.T}}</td>

    </tr>
    <tr>
      <td>Total</td>
      <td></td>
      <td>{{vm.model.enrolTotal.M}}</td>
      <td>{{vm.model.enrolTotal.F}}</td>
      <td>{{vm.model.enrolTotal.T}}</td>
    </tr>
  </table>
</panel>
