﻿@section title {
  GROSS ENROLMENT RATIO IN EARLY CHILDHOOD CARE AND EDUCATION (GER/ECCE)
}

@section icon {
  <i class="fa fa-info"></i>&nbsp;
}

@section tools {
}
@section actions {
  <md-button href="http://uis.unesco.org/sites/default/files/documents/education-indicators-technical-guidelines-en_0.pdf" target="_blank" md-autofocus>
    Cited Source: UNESCO Education Indicators Technical Guidelines
  </md-button>
}

<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="General">
    <md-content class="md-padding">
      <h2>Key Indicator</h2>
      <p>Gross Enrolment Ratio in Eearly Childhood Care and Education (GER/ECCE)</p>
      <h2>Definition</h2>
      <p>
        Total number of children enrolled in early childhood care and education programmes, regardless of age,
        expressed as a percentage of the population in the relevant official age group.
      </p>
      <h2>Purpose</h2>
      <p>
        To measure the general level of participation of young children in ECCE programmes. It also indicates a
        country's capacity to prepare young children for primary education.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Calculation">
    <md-content class="md-padding">
      <h2>Calculation method</h2>
      <p>
        Divide the total number of children enrolled in ECCE programmes, regardless of age, by the
        population in the relevant official age group in a given school year, and multiply by 100.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Data">
    <md-content class="md-padding">
      <h2>Data Required</h2>
      <p>
        Total enrolment in ECCE programmes; population in the relevant official age group.
      </p>
      <h2>Data Source</h2>
      <p>
        School register, school survey or census for data on enrolment; population censuses or estimates for
        school-age population normally obtained from the central statistical office. In
        Marshall Island a bi-annually school census is used with some urban
        schools starting to adopt a Student Information System. The indicators
        are currently all calculated based on a consistent data collection
        tool (i.e. the school census). The population census and projection used depends on the country
        but the system can produce all results based on one or more difference population sources.
      </p>
      <h2>Type of Disaggregation</h2>
      <p>
        By gender and geographical location (region, urban/rural).
        The disaggregation supported are by gender, type
        of schools and by geographical location (i.e. Atolls and Islands of
        Marshall Islands) and levels of education.  However, currently only
        the gender, nation and levels of education cohorts are supported since
        population projection by Atolls and Islands is not yet available and
        the disgreggation by school type feature is not yet exposed.
      </p>
      <h2>Quality standards</h2>
      <p>
        The data on enrolment should cover both public and private institutions and programmes. Since
        gross enrolment does not take the age factor into account, children below 3 years and above 5 years (or whatever the
        official age group may be) will also be included. Therefore, gross enrolment can exceed 100 percent. Only countries
        that require official registration of any ECCE provision are likely to have official data for this indicator. Countries
        that have data only for public or state-supervised pre-school educational programmes will need to supplement these
        data with information on enrolment in other types of ECCE programmes, possibly through case studies and/or sample
        surveys.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Meaning">
    <md-content class="md-padding">
      <h2>Interpretation</h2>
      <p>
        A ratio indicates adequate capacity for this type of programme within the country. A ratio
        approaching or surpassing 100% indicates that the country is, in principle, able to accommodate all children in the
        ECCE age group.
      </p>
      <h2>Limitations</h2>
      <p>
        Enrolment data for ECCE programmes can be affected by differences in reporting practices, namely by
        the extent to which childcare programmes with little or no pedagogical component are included in the statistics. The
        distinction between ECCE programmes and organized, custodial childcare can be difficult to define in an
        internationally consistent way, especially with regard to very young children, for whom the natural pace of
        development limits the pedagogical possibilities. Countries may also differ widely in their approaches to ECCE, with
        some focusing on experiential education while others stress skill development, academic development, the visual arts,
        etc.
      </p>
    </md-content>
  </md-tab>
</md-tabs>
