﻿@section title {
  NET INTAKE RATE (NIR) IN THE FIRST GRADE OF PRIMARY
}

@section icon {
  <i class="fa fa-info"></i>&nbsp;
}

@section tools {
}
@section actions {
  <md-button href="http://uis.unesco.org/sites/default/files/documents/education-indicators-technical-guidelines-en_0.pdf" target="_blank" md-autofocus>
    Cited Source: UNESCO Education Indicators Technical Guidelines
  </md-button>
}

<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="General">
    <md-content class="md-padding">
      <h2>Key Indicator</h2>
      <p>
        Net Intake Rate (NIR) in the First Grade of Primary (or other
        education level)
      </p>
      <h2>Definition</h2>
      <p>
        New entrants in the first grade of a given level of education who are of the official primary school-entrance age,
        expressed as a percentage of the population of the same age.
      </p>
      <h2>Purpose</h2>
      <p>
        To precisely measure access to a given education levels by the
        eligible population of primary school-entrance age.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Calculation">
    <md-content class="md-padding">
      <h2>Calculation method</h2>
      <p>
        Divide the number of children of official primary school-entrance age who enter the first grade
        of primary education for the first time by the population of the same age, and multiply the result by 100.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Data">
    <md-content class="md-padding">
      <h2>Data Required</h2>
      <p>
        New entrants in first grade of primary education by single years of age; population of official primary
        school-entrance age.
      </p>
      <h2>Data Source</h2>
      <p>
        School register, school survey or census for data on new
        entrants by age; population census or estimates for school-entrance
        age population. A bi-annually
        school census is used by all schools and in some cases some urban schools starting to
        adopt a Student Information System also The indicators
        are currently all calculated based on a consistent data collection
        tool (i.e. the school census). The population census and projection used depends on the country
        but the system can produce all results based on one or more difference population sources.
      </p>
      <h2>Type of Disaggregation</h2>
      <p>
        By gender and by geographical location (region,
        rural/urban). The disaggregation supported are by gender, type of
        schools and by geographical location (i.e. Atolls and Islands of
        Marshall Islands) and levels of education.  However, currently only
        the gender, nation and levels of education cohorts are supported since
        population projection by Atolls and Islands is not yet available and
        the disgreggation by school type feature is not yet exposed.
      </p>
      <h2>Quality standards</h2>
      <p>
        Data on both new entrants and population used in deriving this indicator should refer strictly to
        the official school-entrance age. NIR in principle should not exceed 100%.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Meaning">
    <md-content class="md-padding">
      <h2>Interpretation</h2>
      <p>
        A high NIR indicates a high degree of access to primary education for the official primary schoolentrance
        age children. NIR of 100% is a necessary condition for the policy goal of universal primary education.
      </p>
      <h2>Limitations</h2>
      <p>
        This indicator can be distorted by an incorrect distinction between new entrants and repeaters in the first
        grade. This can be the case especially for under-aged pupils who may repeat the first grade at the official entrance
        age.
      </p>
    </md-content>
  </md-tab>
</md-tabs>