﻿@* student enrollment List
*@
<div>
  <table class="md-table striped">
    <thead>
      <tr>
        <th>Enrollment Year</th>
        <th>{{"School No" | vocab}}</th>
        <th>Grade Level</th>
        <th>Completed</th>
        <th>Days Absent</th>
        <th>From</th>
        <th>From Date</th>
        <th>From School</th>
        <th>Outcome</th>
        <th>Outcome Reason</th>
        <th>Special Ed?</th>        
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="e in vm.enrollments">
        <td>{{e.stueYear}}</td>
        <td>{{e.schNo}}</td>
        <td>{{e.stueClass}}</td>
        <td>{{e.stueCompleted}}</td>
        <td>{{e.stueDaysAbsent}}</td>
        <td>{{e.stueFrom}}</td>
        <td>{{e.stueFromDate | date:"d-MMM-yyyy"}}</td>
        <td>{{e.stueFromSchool}}</td>
        <td>{{e.stueOutcome}}</td>
        <td>{{e.stueOutcomeReason}}</td>
        <td>{{e.stueSpEd}}</td>
      </tr>
    </tbody>
  </table>
</div>